[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "bpULcnobObe6gHxs0A9A9GA7UXNY",
            "issued_at": 1658414020629,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "b9bc5ec7-1e98-4ec5-8d49-25c38f96a001",
            "157",
            "Thu, 21 Jul 2022 14:33:40 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/alpha/attorneys?attorney_ids=110161257&attorney_ids=43337&attorney_ids=14974596",
        "body": "",
        "status": 200,
        "response": [
            {
                "InputId": 110161257,
                "Attorney": {
                    "Name": "G. L. Spence",
                    "AttorneyIds": 110161257,
                    "AttorneyPguids": []
                }
            },
            {
                "InputId": 43337,
                "Attorney": {
                    "Name": "J. M. Brownstone",
                    "AttorneyIds": 43337,
                    "AttorneyPguids": []
                }
            },
            {
                "InputId": 14974596,
                "Attorney": {
                    "Name": "K. H. Sligh",
                    "AttorneyIds": 14974596,
                    "AttorneyPguids": []
                }
            }
        ],
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "448b814448b905e0fd4647d63fc3ecc5;o=1",
            "Thu, 21 Jul 2022 14:33:41 GMT",
            "297",
            "08493e6c-044d-4226-bb5a-e6566ceca834",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]