[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "xNR4BJhJ9xG68nz4lXsKZNVfFd8QEdcZ",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/attorneys/110161257",
        "body": "",
        "status": 200,
        "response": {
            "name": "Gerry L. Spence",
            "attorneyId": 110161257
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "cde057045167a1d4313ece62174553d2"
        ],
        "responseIsBinary": false
    }
]