[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "4QuEThSLat5UawGpjzvIap5MdfzM",
            "issued_at": 1661877748392,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "200dc78e-16e1-460a-ba27-979f53d83f84",
            "157",
            "Tue, 30 Aug 2022 16:42:28 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/attorneys?attorneyIds=110161257&attorneyIds=43337&attorneyIds=14974596",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Gerry L. Spence",
                "attorneyId": 110161257
            },
            {
                "name": "Justin M. Brownstone",
                "attorneyId": 43337
            },
            {
                "name": "Kathryn Harper Sligh",
                "attorneyId": 14974596
            }
        ],
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "ef84e701386f558db94b4cad752befe9;o=1",
            "Tue, 30 Aug 2022 16:42:28 GMT",
            "156",
            "e6f275c3-8e67-4af0-904d-b2186dcffb22",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]