[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "U0Ytt5lvSnfqGoGIqfQWNDOqs9XM",
            "issued_at": 1661876223393,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "e7ac41aa-492f-4e9f-9150-3048d791e7e5",
            "157",
            "Tue, 30 Aug 2022 16:17:03 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/attorneys/110161257",
        "body": "",
        "status": 200,
        "response": {
            "name": "Gerry L. Spence",
            "attorneyId": 110161257
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "76711b2f156994c50e13b5ad951f6d2e",
            "Tue, 30 Aug 2022 16:17:03 GMT",
            "49",
            "8120401d-00f8-4c9d-b31d-e8d2967ad36f",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]