[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "access_token": "HEc8FA5RIX0nL7QPeQMK0T555hL4MtYC",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/attorneys/110161257",
        "body": "",
        "status": 200,
        "response": {
            "name": "Gerry L. Spence",
            "attorneyId": 110161257
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "535a95d64adf86082f477650fa615dfb;o=1"
        ],
        "responseIsBinary": false
    }
]