[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "rp5iXgf7y0kW8ZC3gw1TdvTD1wRXweDC",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/attorneys/110161257",
        "body": "",
        "status": 200,
        "response": {
            "name": "Gerry L. Spence",
            "attorneyId": 110161257
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "ebd7dd3a448ee094a141d0c5edac938d;o=1"
        ],
        "responseIsBinary": false
    }
]