[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/attorneys?attorneyIds=110161257&attorneyIds=43337&attorneyIds=14974596",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Gerry L. Spence",
                "attorneyId": 110161257
            },
            {
                "name": "Justin M. Brownstone",
                "attorneyId": 43337
            },
            {
                "name": "Kathryn Harper Sligh",
                "attorneyId": 14974596
            }
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "20f0bfb9aa39a50b64f72183c847d4af"
        ],
        "responseIsBinary": false
    }
]