[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "bpULcnobObe6gHxs0A9A9GA7UXNY",
            "issued_at": 1658414020629,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "b9bc5ec7-1e98-4ec5-8d49-25c38f96a001",
            "157",
            "Thu, 21 Jul 2022 14:33:40 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/alpha/district-cases/93617",
        "body": "",
        "status": 200,
        "response": {
            "CaseId": 93617,
            "Title": "Gaiman, Neil v. McFarlane, Todd",
            "Court": "U.S. District Court for the Western District of Wisconsin",
            "CaseNo": "3:02-cv-00048-bbc",
            "Status": "Terminated",
            "CaseType": [
                "Copyright"
            ],
            "CaseTags": [
                "Trial",
                "Appealed",
                "Order re: Dismiss (Contested)",
                "Jury Trial"
            ],
            "Dates": {
                "Filed": "2002-01-24",
                "Terminated": "2012-02-03",
                "Trial": "2002-10-01",
                "LastDocket": "2012-02-03"
            },
            "Resolution": "Claimant Win: Trial",
            "Events": [
                {
                    "Type": "Filed",
                    "Occurred": "2002-01-24"
                },
                {
                    "Type": "Dismiss (Contested)",
                    "Occurred": "2002-05-06"
                },
                {
                    "Type": "Terminated",
                    "Occurred": "2012-02-03"
                }
            ],
            "Judges": [
                {
                    "Name": "Barbara Brandriff Crabb",
                    "FederalJudgeId": 530
                }
            ],
            "MagistrateJudges": [
                {
                    "Name": "Stephen L Crocker",
                    "MagistrateId": 628
                },
                {
                    "Name": "Peter A Oppeneer",
                    "MagistrateId": 989
                }
            ],
            "Remedies": {
                "Active": [
                    {
                        "Type": "General Permanent Injunction: Grant",
                        "JudgmentSource": "Judgment on Merits",
                        "AwardedToPartyIds": [
                            216320,
                            216322
                        ],
                        "AgainstPartyIds": [
                            20374402,
                            171787,
                            125836,
                            23006382,
                            196852
                        ],
                        "DocketEntryFiled": "2002-10-17",
                        "Negated": null,
                        "Reinstated": null
                    }
                ],
                "Voided": [],
                "Reversed": []
            },
            "Findings": {
                "Active": [
                    {
                        "Type": "Copyright Ownership / Validity",
                        "JudgmentSource": "Trial",
                        "InFavorOfPartyIds": [
                            216320,
                            216322
                        ],
                        "PatentInvalidityReasons": [],
                        "AgainstPartyIds": [
                            20374402,
                            171787,
                            125836,
                            23006382,
                            196852
                        ],
                        "DocketEntryFiled": "2002-10-07",
                        "Negated": null,
                        "Reinstated": null
                    },
                    {
                        "Type": "Copyright Infringement",
                        "JudgmentSource": "Trial",
                        "InFavorOfPartyIds": [
                            216320,
                            216322
                        ],
                        "PatentInvalidityReasons": [],
                        "AgainstPartyIds": [
                            20374402,
                            171787,
                            125836,
                            23006382,
                            196852
                        ],
                        "DocketEntryFiled": "2002-10-07",
                        "Negated": null,
                        "Reinstated": null
                    }
                ],
                "Voided": [],
                "Reversed": []
            },
            "LawFirms": [
                {
                    "Name": "BakerHostetler",
                    "LawFirmId": 57704,
                    "ClientPartyIds": [
                        125836
                    ]
                },
                {
                    "Name": "Godfrey & Kahn",
                    "LawFirmId": 53294,
                    "ClientPartyIds": [
                        20374402,
                        171787,
                        196852,
                        23006382
                    ]
                },
                {
                    "Name": "KENNETH F. LEVIN & ASSOCIATES",
                    "LawFirmId[...]
