[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "expires_in": 3600,
            "access_token": "NiA6LR4uAM1W5eRbqAEVHohJpmb7ppi0"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/district-cases/93617",
        "body": "",
        "status": 200,
        "response": {
            "districtCaseId": 93617,
            "title": "Gaiman, Neil v. McFarlane, Todd",
            "court": "U.S. District Court for the Western District of Wisconsin",
            "caseNo": "3:02-cv-00048-bbc",
            "status": "Terminated",
            "caseType": [
                "Contracts",
                "Copyright",
                "Trademark"
            ],
            "caseTags": [
                "Commercial",
                "Business Tort",
                "Appealed",
                "Trial",
                "Order re: Dismiss (Contested)",
                "Breach of Contract",
                "Jury Trial"
            ],
            "dates": {
                "filed": "2002-01-24",
                "terminated": "2012-02-03",
                "trial": "2002-10-01",
                "lastDocket": "2012-02-03"
            },
            "resolution": {
                "summary": "Claimant Win",
                "specific": "Trial"
            },
            "events": [
                {
                    "type": "Filed",
                    "occurred": "2002-01-24"
                },
                {
                    "type": "Dismiss (Contested)",
                    "occurred": "2002-05-06"
                },
                {
                    "type": "Trial",
                    "occurred": "2002-10-01"
                },
                {
                    "type": "Terminated",
                    "occurred": "2012-02-03"
                }
            ],
            "judges": [
                {
                    "name": "Barbara Brandriff Crabb",
                    "federalJudgeId": 530
                }
            ],
            "magistrateJudges": [
                {
                    "name": "Peter A Oppeneer",
                    "magistrateJudgeId": 989
                },
                {
                    "name": "Stephen L Crocker",
                    "magistrateJudgeId": 628
                }
            ],
            "remedies": {
                "active": [
                    {
                        "name": "Permanent Injunction: Grant",
                        "type": "General",
                        "judgmentSource": "Judgment on Merits",
                        "awardedToPartyIds": [
                            216320,
                            216322
                        ],
                        "againstPartyIds": [
                            20374402,
                            171787,
                            125836,
                            23006382,
                            196852
                        ],
                        "docketEntryFiled": "2002-10-17",
                        "negated": null,
                        "reinstated": null
                    }
                ],
                "voided": [],
                "reversed": []
            },
            "findings": {
                "active": [
                    {
                        "name": "No Fraud / Misrepresentation",
                        "type": "Contracts",
                        "judgmentSource": "Judgment on the Pleadings",
                        "inFavorOfPartyIds": [
                            20374402,
                            171787,
                            196852,
                            23006382
                        ],
                        "patentInvalidityReasons": [],
                        "againstPartyIds": [
                            216320,
                            216322
                        ],
                        "docketEntryFiled": "2002-07-18",
                        "negated": null,
                        "reinstated": null
                    },
                    {
                        "name": "Ownership / Validity",
                        "type": "Copyright",
                        "judgmentSource": "Trial",
             [...]
