[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "kKSGsoovoR2vcpOeCygCxGy8AxLt",
            "issued_at": 1661878010480,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "6c59868b-43b2-4879-a235-a2709b2936a9",
            "157",
            "Tue, 30 Aug 2022 16:46:50 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/health",
        "body": "",
        "status": 200,
        "response": "Feelin' fine.",
        "rawHeaders": [
            "content-type",
            "text/plain; charset=utf-8",
            "x-cloud-trace-context",
            "2abd793ae27bfa9f00c584417217da44;o=1",
            "Tue, 30 Aug 2022 16:46:51 GMT",
            "13",
            "eb388ca5-1486-4ec3-8b4b-59135494f1b8",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]