[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "expires_in": 3600,
            "access_token": "2cBXT9XxZrxXCk7S5hCtlHmVtEzvePAs",
            "token_type": "bearer"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/health",
        "body": "",
        "status": 200,
        "response": "Feelin' fine.",
        "rawHeaders": [
            "Content-Type",
            "text/plain; charset=utf-8",
            "X-Cloud-Trace-Context",
            "e3c39da82450cbd402b13bd64917446d"
        ],
        "responseIsBinary": false
    }
]