[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "2dP9NPKUaj0Q1KGoMm8mP0iQNCUSqsCL",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/health",
        "body": "",
        "status": 200,
        "response": "Feelin' fine.",
        "rawHeaders": [
            "Content-Type",
            "text/plain; charset=utf-8",
            "X-Cloud-Trace-Context",
            "c1bf78a79c2f43acca54835e9e917859"
        ],
        "responseIsBinary": false
    }
]