[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "mDSdTeh2bWrcWQcylYQT1VxhA0FLhQlk",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/health",
        "body": "",
        "status": 200,
        "response": "Feelin' fine.",
        "rawHeaders": [
            "Content-Type",
            "text/plain; charset=utf-8",
            "X-Cloud-Trace-Context",
            "90b6c7a85c814e6d5e957ec76e641875"
        ],
        "responseIsBinary": false
    }
]