[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/federal-judges?federalJudgeIds=3349&federalJudgeIds=3488&federalJudgeIds=2877",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Beryl Alaine Howell",
                "federalJudgeId": 3349,
                "initials": "BAH",
                "dateOfBirth": "1956-01-01",
                "caseCountByCourt": [
                    {
                        "court": "total",
                        "count": 1855
                    }
                ],
                "nominatingPresident": "Barack Obama"
            },
            {
                "name": "Vernon Speede Broderick",
                "federalJudgeId": 3488,
                "initials": "VSB",
                "dateOfBirth": "1963-01-01",
                "caseCountByCourt": [
                    {
                        "court": "total",
                        "count": 4005
                    }
                ],
                "nominatingPresident": "Barack Obama"
            },
            {
                "name": "James S. Moody",
                "federalJudgeId": 2877,
                "initials": "JSM",
                "dateOfBirth": "1947-01-01",
                "caseCountByCourt": [
                    {
                        "court": "total",
                        "count": 6322
                    }
                ],
                "nominatingPresident": "William J. Clinton"
            }
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "445e81f0448e47ee941c877d236d60ee"
        ],
        "responseIsBinary": false
    }
]