[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "fTA6Tx44GPAtwye5FAXOlhaGc2pk",
            "issued_at": 1661878227697,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "edec2167-1ee0-44f1-815f-0648dcafbe15",
            "157",
            "Tue, 30 Aug 2022 16:50:27 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/federal-judges/3349",
        "body": "",
        "status": 200,
        "response": {
            "name": "Beryl Alaine Howell",
            "federalJudgeId": 3349,
            "initials": "BAH",
            "dateOfBirth": "1956-01-01",
            "caseCountByCourt": [
                {
                    "court": "total",
                    "count": 1634
                }
            ],
            "nominatingPresident": "Barack Obama"
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "9c55bb5cef13cd24c5eafa1afde2eef1;o=1",
            "Tue, 30 Aug 2022 16:50:27 GMT",
            "185",
            "16d4821c-df29-4d5f-9103-a13c8f0f47aa",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]