[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "access_token": "w6NikWF1zL0WmZT7sRhmQPzelULpFSo1",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/federal-judges/3349",
        "body": "",
        "status": 200,
        "response": {
            "name": "Beryl Alaine Howell",
            "federalJudgeId": 3349,
            "initials": "BAH",
            "dateOfBirth": "1956-01-01",
            "caseCountByCourt": [
                {
                    "court": "total",
                    "count": 1758
                }
            ],
            "nominatingPresident": "Barack Obama"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "325e0709099217ffc0c38df953f91f89;o=1"
        ],
        "responseIsBinary": false
    }
]