[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "KsmAPs5ntx0NOTV259K82JDd36Ry",
            "issued_at": 1658499148040,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "dcd04082-26d1-4741-b64a-f1e46abfc045",
            "157",
            "Fri, 22 Jul 2022 14:12:27 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/alpha/federal-judges?judge_ids=3349&judge_ids=3488&judge_ids=2877",
        "body": "",
        "status": 200,
        "response": [
            {
                "Name": "Beryl Alaine Howell",
                "Initials": "BAH",
                "DateOfBirth": "1956-01-01",
                "CaseCount": 1613,
                "JudgeId": 3349,
                "NominatingPresident": "Barack Obama"
            },
            {
                "Name": "Vernon Speede Broderick",
                "Initials": "VSB",
                "DateOfBirth": "1963-01-01",
                "CaseCount": 3422,
                "JudgeId": 3488,
                "NominatingPresident": "Barack Obama"
            },
            {
                "Name": "James S. Moody",
                "Initials": "JSM",
                "DateOfBirth": "1947-01-01",
                "CaseCount": 6006,
                "JudgeId": 2877,
                "NominatingPresident": "William J. Clinton"
            }
        ],
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "a1e1b67c68325df81fc644bd8ea92d4b;o=1",
            "Fri, 22 Jul 2022 14:12:29 GMT",
            "438",
            "1f0429bf-71fc-4e5c-9faf-072176ddeafe",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]