[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "expires_in": 3600,
            "access_token": "pNaxuQOecW1rrP0cuazBeYljBhXNYqt7",
            "token_type": "bearer"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/federal-judges/3349",
        "body": "",
        "status": 200,
        "response": {
            "name": "Beryl Alaine Howell",
            "federalJudgeId": 3349,
            "initials": "BAH",
            "dateOfBirth": "1956-01-01",
            "caseCountByCourt": [
                {
                    "court": "total",
                    "count": 1778
                }
            ],
            "nominatingPresident": "Barack Obama"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "2cb637005efbda2aa957856022270597"
        ],
        "responseIsBinary": false
    }
]