[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "t4hPjSrqX9ogxP3KFM1ZyH60BUFmDLPg",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/federal-judges/3349",
        "body": "",
        "status": 200,
        "response": {
            "name": "Beryl Alaine Howell",
            "federalJudgeId": 3349,
            "initials": "BAH",
            "dateOfBirth": "1956-01-01",
            "caseCountByCourt": [
                {
                    "court": "total",
                    "count": 1855
                }
            ],
            "nominatingPresident": "Barack Obama"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "65a04253ac64e53d2b849390d7f5f5ad"
        ],
        "responseIsBinary": false
    }
]