[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "access_token": "tVcqo8Y04it93M3X4HhxXOCSDatM8kuk",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/law-firms/1368",
        "body": "",
        "status": 200,
        "response": {
            "name": "Perkins Coie",
            "lawFirmId": 1368
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e12afe0e51cbeda2211aa49e79e71668;o=1"
        ],
        "responseIsBinary": false
    }
]