[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "t8d4nhMxb3bpNSuaJbKKuiqD1oNS",
            "issued_at": 1661879900996,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "044151fd-92e1-4615-81c3-1c54d5b7f955",
            "157",
            "Tue, 30 Aug 2022 17:18:20 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/law-firms/1368",
        "body": "",
        "status": 200,
        "response": {
            "name": "Perkins Coie",
            "lawFirmId": 1368
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "4026ed065262cad8b63ff4ee9704c6df",
            "Tue, 30 Aug 2022 17:18:21 GMT",
            "40",
            "34fb123b-1369-4c23-977f-712e3bb6e037",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]