[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "xxkyPQag10fPZoggkxDGmxZTrw65",
            "issued_at": 1661879972691,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "2a56d3d6-2a15-49e0-82a1-3cfcb7cd1ef1",
            "157",
            "Tue, 30 Aug 2022 17:19:32 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/law-firms?lawFirmIds=1368&lawFirmIds=920&lawFirmIds=101693204",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Perkins Coie",
                "lawFirmId": 1368
            },
            {
                "name": "Quinn Emanuel Urquhart & Sullivan",
                "lawFirmId": 920
            },
            {
                "name": "Sligh Law Firm",
                "lawFirmId": 101693204
            }
        ],
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "588b19b6e8b42b31546699c1e207e205;o=1",
            "Tue, 30 Aug 2022 17:19:32 GMT",
            "151",
            "2e7ddad3-976a-4fbb-8ea0-d3fb8ad65689",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]