[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "expires_in": 3600,
            "access_token": "6ARzyHT0NO8pj8PopJEmh96lSe8oMxYU",
            "token_type": "bearer"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/law-firms/1368",
        "body": "",
        "status": 200,
        "response": {
            "name": "Perkins Coie",
            "lawFirmId": 1368
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "99eb7adc81d9da6a080f84841247e912"
        ],
        "responseIsBinary": false
    }
]