[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "uUrvDMFFqhLnmApWeQaDO42wuY6gvKlz",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/law-firms/1368",
        "body": "",
        "status": 200,
        "response": {
            "name": "Perkins Coie",
            "lawFirmId": 1368
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "09e7a90bb03231a579e9ad5d0ac4d0f4"
        ],
        "responseIsBinary": false
    }
]