[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/law-firms?lawFirmIds=1368&lawFirmIds=920&lawFirmIds=101693204",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Perkins Coie",
                "lawFirmId": 1368
            },
            {
                "name": "Quinn Emanuel Urquhart & Sullivan",
                "lawFirmId": 920
            },
            {
                "name": "Sligh Law Firm",
                "lawFirmId": 101693204
            }
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "59b371113b41ea741113b9efb4b8f736"
        ],
        "responseIsBinary": false
    }
]