[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "Hxpl7GuUA0GRX4FoZdRzmjYcCsJA",
            "issued_at": 1658500235038,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "2ea77d1d-1cfc-4ce0-846b-471010730f07",
            "157",
            "Fri, 22 Jul 2022 14:30:34 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/alpha/law-firms/1368",
        "body": "",
        "status": 200,
        "response": {
            "InputId": 1368,
            "LawFirm": {
                "Name": "Perkins Coie",
                "LawFirmId": 1368
            }
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "1ab4238bdc409112818be6d25d0d1ee9;o=1",
            "Fri, 22 Jul 2022 14:30:35 GMT",
            "67",
            "89d3391a-5350-4251-aedb-be8536226ff1",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]