[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "HITcCO1ddzygkInoVt9uUqJe3AlT",
            "issued_at": 1657914233902,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "c8dd9b1e-9ea3-4c91-8ae1-9e975b47fb2b",
            "157",
            "Fri, 15 Jul 2022 19:43:53 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/alpha/list-courts",
        "body": "",
        "status": 200,
        "response": [
            {
                "Name": "U.S. District Court for the District of New Jersey",
                "ShortName": "D.N.J.",
                "Abbreviation": "njd",
                "Type": "FederalDistrict"
            },
            {
                "Name": "U.S. District Court for the District of Columbia",
                "ShortName": "D.D.C.",
                "Abbreviation": "dcd",
                "Type": "FederalDistrict"
            },
            {
                "Name": "U.S. District Court for the District of Oregon",
                "ShortName": "D.Or.",
                "Abbreviation": "ord",
                "Type": "FederalDistrict"
            },
            {
     [...]
