[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "ireN6DSxRkwwyBiAjGbGu1meANdV",
            "issued_at": 1661883092444,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "8fd139ec-b2a6-4598-adee-bf59c6609401",
            "157",
            "Tue, 30 Aug 2022 18:11:32 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/list-case-resolutions",
        "body": "",
        "status": 200,
        "response": [
            {
                "summary": "Claimant Win",
                "specific": "Bench Trial"
            },
            {
                "summary": "Claimant Win",
                "specific": "Jury"
            },
            {
                "summary": "Claimant Win",
                "specific": "Trial"
            },
            {
                "summary": "Claimant Win",
                "specific": "Judgment as a Matter of Law"
            },
            {
                "summary": "Claimant Win",
                "specific": "Summary Judgment"
            },
      [...]
