[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "4MuX0bp58GBPIFwI5cLaoJ4yrBiHBFfr",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-appealability-rulings",
        "body": "",
        "status": 200,
        "response": [
            "Permission to Appeal: Grant",
            "Permission to Appeal: Deny",
            "Certificate of Appealability: Grant",
            "Certificate of Appealability: Deny",
            "Petition for Review: Grant",
            "Petition for Review: Deny"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "60e29ba8d778fdb17f46feef72e2efeb;o=1"
        ],
        "responseIsBinary": false
    }
]