[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-damages/State",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "General Damages (Judgment on Merits)",
                "General Damages (Jury Verdict)",
                "Attorneys' Fees / Costs"
            ],
            "court": {
                "name": "All State Courts",
                "type": "State"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "80c29a72c73f126a39799e3d3b00257c"
        ],
        "responseIsBinary": false
    }
]