[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-types/FederalAppeals",
        "body": "",
        "status": 200,
        "response": [
            {
                "court": {
                    "name": "All Federal Appeals Courts",
                    "type": "FederalAppeals"
                },
                "caseTypes": [
                    "Antitrust",
                    "Bankruptcy",
                    "Civil Rights",
                    "Class Action",
                    "Consumer Protection",
                    "Contracts",
                    "Copyright",
                    "ERISA",
                    "Employment",
                    "Environmental",
                    "False Claims",
                    "Insurance",
                    "Internet",
                    "Patent",
                    "Product Liability",
                    "Real Property",
                    "Securities",
                    "Surety Bond",
                    "Tax",
                    "Torts",
                    "Trade Secret",
                    "Trademark",
                    "Remaining Federal"
                ]
            }
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "bcca866830a8ec363bd2a8ad3b71e769"
        ],
        "responseIsBinary": false
    }
]