[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "BdBMqsWJ62GpBnsUnFE2I5DMIMUTothx",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-courts/FederalDistrict",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "U.S. District Court for the District of Alaska",
                "type": "FederalDistrict",
                "shortName": "D.Alaska",
                "abbreviation": "akd"
            },
            {
                "name": "U.S. District Court for the Middle District of Alabama",
                "type": "FederalDistrict",
                "shortName": "M.D.Ala.",
                "abbreviation": "almd"
            },
            {
                "name": "U.S. District Court for the Northern District of Alabama",
                "type": "FederalDistrict",
                "shortName": "N.D.Ala.",
                "abbreviation": "alnd"
            },
        [...]
