[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "TPdOFDmTO1VD8Aq51wVZaWc2AuXH2qMW",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-sources/FederalDistrict",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "Default Judgment",
                "Jury Verdict",
                "No Type Specified",
                "Consent Judgment",
                "Judgment on Merits"
            ],
            "remedies": [
                "Default Judgment",
                "No Type Specified",
                "Judgment on Merits",
                "Consent Judgment"
            ],
            "findings": [
                "Default Judgment",
                "Summary Judgment",
                "Trial",
                "Judgment as a Matter of Law",
                "Judgment on the Pleadings",
                "No Type Specified",
                "Consent Judgment"
            ],
            "court": {
                "name": "All Federal District Courts",
                "type": "FederalDistrict"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "be3b5faf85dfbda358f299ceef8284ec"
        ],
        "responseIsBinary": false
    }
]