[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "6s0hgfNv1dC3QP5v7tczZ4HZg7BPOy7d",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-sources/FederalDistrict",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "Default Judgment",
                "Judgment on Merits",
                "Jury Verdict",
                "No Type Specified",
                "Consent Judgment"
            ],
            "remedies": [
                "Judgment on Merits",
                "No Type Specified",
                "Consent Judgment",
                "Default Judgment"
            ],
            "findings": [
                "Judgment on the Pleadings",
                "Judgment as a Matter of Law",
                "Default Judgment",
                "No Type Specified",
                "Consent Judgment",
                "Summary Judgment",
                "Trial"
            ],
            "court": {
                "name": "All Federal District Courts",
                "type": "FederalDistrict"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e7eb6ab8e2572e1c8e4e1148e88bd4db"
        ],
        "responseIsBinary": false
    }
]