[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "pDtPbcADD5vG0neKFYiZAFzBK6AS",
            "issued_at": 1661883005737,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "c635652d-bc26-43dc-b977-284bae0ffc24",
            "157",
            "Tue, 30 Aug 2022 18:10:05 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/list-case-types",
        "body": "",
        "status": 200,
        "response": [
            "Antitrust",
            "Bankruptcy",
            "Civil Rights",
            "Consumer Protection",
            "Contracts",
            "Copyright",
            "ERISA",
            "Employment",
            "Environmental",
            "False Claims",
            "Insurance",
            "Patent",
            "Product Liability",
            "Securities",
            "Tax",
            "Torts",
            "Trade Secret",
            "Trademark",
            "Remaining Federal"
        ],
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "5ae5d81a8acafed1fa0d06db312a0141",
            "Tue, 30 Aug 2022 18:10:05 GMT",
            "254",
            "b232ed0d-97dc-4dee-9674-311439f251b6",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]