[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "rdWyVoXsVpZb2kdfxMTkk8Qsm0xtTzsq",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-resolutions/FederalDistrict",
        "body": "",
        "status": 200,
        "response": {
            "court": {
                "name": "All Federal District Courts",
                "type": "FederalDistrict"
            },
            "caseResolutions": [
                {
                    "summary": "Claimant Win",
                    "specific": "Default Judgment"
                },
                {
                    "summary": "Claimant Win",
                    "specific": "Summary Judgment"
                },
                {
                    "summary": "Claimant Win",
                    "specific": "Judgment as a Matter of Law"
                },
                {
                    "summary": "Claimant Win",
                    "specific": "Trial"
                },
                {
                    "summary": "Claima[...]
