[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "SFxBy0MZagY3XOjnvwl4WgXOQSyAkE06",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-types/FederalDistrict",
        "body": "",
        "status": 200,
        "response": [
            {
                "court": {
                    "name": "All Federal District Courts",
                    "type": "FederalDistrict"
                },
                "caseTypes": [
                    "Antitrust",
                    "Bankruptcy",
                    "Civil Rights",
                    "Consumer Protection",
                    "Contracts",
                    "Copyright",
                    "ERISA",
                    "Employment",
                    "Environmental",
                    "False Claims",
                    "Insurance",
                    "Internet",
                    "Patent",
                    "Product Liability",
                    "Real Property",
                    "Securities",
                    "Surety Bond",
                    "Tax",
                    "Torts",
                    "Trade Secret",
                    "Trademark",
                    "Remaining Federal"
                ]
            }
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a84d59b94f781202ba79db034cee83b7"
        ],
        "responseIsBinary": false
    }
]