[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "access_token": "cVjqewJGZfGyru9CIQP8bP9UnyPYSXGY",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-types",
        "body": "",
        "status": 200,
        "response": [
            "Antitrust",
            "Bankruptcy",
            "Civil Rights",
            "Consumer Protection",
            "Contracts",
            "Copyright",
            "ERISA",
            "Employment",
            "Environmental",
            "False Claims",
            "Insurance",
            "Internet",
            "Patent",
            "Product Liability",
            "Real Property",
            "Securities",
            "Surety Bond",
            "Tax",
            "Torts",
            "Trade Secret",
            "Trademark",
            "Remaining Federal"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a958618ed7f6d45f7bc3c1b6c762bc15"
        ],
        "responseIsBinary": false
    }
]