[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-courts/FederalAppeals",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "U.S. Court of Appeals for the First Circuit",
                "type": "FederalAppeals",
                "shortName": "1st Cir.",
                "abbreviation": "ca1"
            },
            {
                "name": "U.S. Court of Appeals for the Tenth Circuit",
                "type": "FederalAppeals",
                "shortName": "10th Cir.",
                "abbreviation": "ca10"
            },
            {
                "name": "U.S. Court of Appeals for the Eleventh Circuit",
                "type": "FederalAppeals",
                "shortName": "11th Cir.",
                "abbreviation": "ca11"
            },
            {
               [...]
