[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-events/FederalAppeals",
        "body": "",
        "status": 200,
        "response": {
            "court": {
                "name": "All Federal Appeals Courts",
                "type": "FederalAppeals"
            },
            "events": [
                "Filed",
                "Terminated"
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "8a737f2d90c91559dfb4d8248a6c114e"
        ],
        "responseIsBinary": false
    }
]