[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "ccHGBSGJk6OcSBCrI29iOk1R9LpI3tQD",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-events/State",
        "body": "",
        "status": 200,
        "response": {
            "judgmentEvents": [
                "Default Judgment",
                "Consent Judgment",
                "Bench Trial",
                "Jury Verdict",
                "Other Judgment"
            ],
            "court": {
                "name": "All State Courts",
                "type": "State"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "5a343396cc055940205ee37c6d5f304a"
        ],
        "responseIsBinary": false
    }
]