[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "expires_in": 3600,
            "access_token": "gvCaRC9HH7yfJaGCT1YRctI8vbGTf3ya",
            "token_type": "bearer"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-resolutions",
        "body": "",
        "status": 200,
        "response": [
            {
                "summary": "Procedural",
                "specific": "Stay"
            },
            {
                "summary": "Procedural",
                "specific": "Interdistrict Transfer"
            },
            {
                "summary": "Claim Defendant Win",
                "specific": "Judgment on the Pleadings"
            },
            {
                "summary": "Claimant Win",
                "specific": "Default Judgment"
            },
            {
                "summary": "Claim Defendant Win",
                "specific": "Consent[...]
