[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "access_token": "Di2EzhVMMRXXeGa36sNdtcMfvGUixkRV",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-sources",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "No Type Specified",
                "Consent Judgment",
                "Judgment on Merits",
                "Default Judgment",
                "Jury Verdict"
            ],
            "remedies": [
                "Judgment on Merits",
                "Default Judgment",
                "No Type Specified",
                "Consent Judgment"
            ],
            "findings": [
                "Summary Judgment",
                "No Type Specified",
                "Consent Judgment",
                "Default Judgment",
                "Judgment as a Matter of Law",
                "Judgment on the Pleadings",
                "Trial"
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "40bb6544d4a48efccb89c97bd62f8ff3"
        ],
        "responseIsBinary": false
    }
]