[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-courts/State",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Los Angeles County Superior Court",
                "type": "State",
                "state": "CA"
            },
            {
                "name": "Sacramento County Superior Court",
                "type": "State",
                "state": "CA"
            },
            {
                "name": "San Bernardino County Superior Court",
                "type": "State",
                "state": "CA"
            },
            {
                "name": "Riverside County Superior Court",
                "type": "State",
                "state": "CA"
            },
            {
      [...]
