[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "expires_in": 3600,
            "access_token": "506uc0ga8J3K6NVBvV7odJt4euzf75jj"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-supreme-court-decisions/FederalAppeals",
        "body": "",
        "status": 200,
        "response": [
            "Affirmed by SCOTUS",
            "Affirmed / Reversed in Part by SCOTUS",
            "Reversed by SCOTUS"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "27004f9705988f2255f821dc51d0c67e"
        ],
        "responseIsBinary": false
    }
]