[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "expires_in": 3600,
            "access_token": "rbdfiMidtHfyWmWzhXo6fep9n0jjJK3E"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-events/State",
        "body": "",
        "status": 200,
        "response": {
            "judgmentEvents": [
                "Default Judgment",
                "Consent Judgment",
                "Bench Trial",
                "Jury Verdict",
                "Other Judgment"
            ],
            "court": {
                "name": "All State Courts",
                "type": "State"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b6d1ba63fcf2707ac373d05ceb34a2f8;o=1"
        ],
        "responseIsBinary": false
    }
]