[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "HLXVnUWNdCFFkV4157SWizx52kb1",
            "issued_at": 1658346207787,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "180f64a4-8139-4a06-b44c-77611518621b",
            "157",
            "Wed, 20 Jul 2022 19:43:27 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/alpha/list-case-resolutions",
        "body": "",
        "status": 200,
        "response": [
            "Claimant Win - Bench Trial",
            "Claimant Win - Jury",
            "Claimant Win - Trial",
            "Claimant Win - Judgment as a Matter of Law",
            "Claimant Win - Summary Judgment",
            "Claimant Win - Judgment on the Pleadings",
            "Claimant Win - Con[...]
