[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "L4NVczvtSVQdHs5IRAjWcMGJKLa5",
            "issued_at": 1657914628482,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "ce690a06-ef25-410a-b173-8091131b2e05",
            "157",
            "Fri, 15 Jul 2022 19:50:28 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/alpha/list-damages",
        "body": "",
        "status": 200,
        "response": {
            "General": [
                "Other / Mixed Damage Types",
                "Attorneys' Fees / Costs",
                "Prejudgment Interest"
            ],
            "Copyright": [
                "Actual Damages / Infringer's Profits (Copyright)",
                "Statutory Damages (Copyright)"
            ],
            "Patent": [
                "Reasonable Royalty",
                "Lost Profits (Patent)",
                "Enhanced Damages (Patent)"
            ],
            "Trademark": [
                "Actual Damages / Infringer's Profits (Trademark)",
                "Statutory Damages (Trademark)",
                "Enhanced Damages (Trademark)",
                "Mass Counterfeiter Default Damages"
            ],
            "Securities": [
                "SEC / CFTC Penalties",
                "Disgorgement (Securities)",
                "Other Securities Damages",
                "Approved Class Action Settlement (Securities)"
            ],
            "Antitrust": [
                "Antitrust Violation Damages",
                "Approved Class Action Settlement (Antitrust)",
                "Enhanced Damages (Antitrust)"
            ],
            "Employment": [
                "Backpay",
                "Front Pay",
                "Liquidated Damages (Employment)",
                "Other Compensatory Damages (Employment)",
                "Civil Money Penalties (Employment)",
                "State Statutory Penalties (Employment)",
                "Emotional Distress",
                "Punitive Damages (Employment)",
                "Approved Class Action Settlement (Employment)",
                "Collective Action Settlement",
                "EEOC Class Settlement",
                "Enhanced Damages (Employment)"
            ],
            "Product Liability": [
                "Personal Injury: Economic",
                "Personal Injury: Non-Economic",
                "Personal Injury: Unspecified",
                "Property Damages",
                "Other Product Liability Damages",
                "Punitive Damages (Product Liability)",
                "Approved Class Action Settlement (Product Liability)"
            ],
            "Bankruptcy": [
                "Actual Damages (Bankruptcy)",
                "Other Bankruptcy Damages",
                "Punitive Damages (Bankruptcy)"
            ],
            "Trade Secret": [
                "Actual Damages / Lost Profits",
                "Punitive / Willfulness Damages",
                "Reasonable Royalty (Trade Secret)"
            ],
            "Insurance": [
                "Contract Damages (Insurance)",
                "Restitution (Insurance)",
                "Emotional Distress Damages",
                "Tort Damages",
                "Punitive Damages (Insurance)",
                "Enhanced Damages (Insurance)",
                "Approved Class Action Settlement (Insurance)"
            ],
            "ERISA": [
                "ERISA Plan Benefits",
                "Liquidated Damages (ERISA)",
                "Interest on Unpaid Contributions",
                "Administrative Fees",
                "Disclosure Penalties",
                "Disgorgement (ERISA)",
                "Restitution (ERISA)",
                "Civil Money Penalties (ERISA)",
                "Approved Class Action Settlement (ERISA)"
            ],
            "Contracts": [
                "Contract Damages (Contracts)",
                "Liquidated Damages (Contracts)",
                "Restitution (Contracts)",
                "Tort Compensatory Damages (Contracts)",
                "Punitive Damages (Contracts)",
                "Enhanced Damages (Contracts)",
                "Approved Class Action Settlement (Contracts)"
            ],
            "Environmental": [
                "CERCLA Cost Recovery / Contribution",
                "Natural Resource Damages / Assessment Costs",
                "Civil Money Penalties (Environmental)",
                "Environmental Project / Mitigation Fund",
                "Punitive Damages (Environmental)"
            ],
            "Tax": [
                "Tax / Penalty Assessed",
                "Refund"
            ],
            "Consumer Protection": [
                "Statutory Damages (Consumer Protection)",
                "Compensatory Damages (Consumer Protection)",
                "Enhanced / Trebled Damages",
                "Punitive Damages (Consumer Protection)",
                "Civil Money Penalties (Consumer Protection)",
                "Restitution (Consumer Protection)",
                "Settled Claim Damages (Consumer Protection)",
                "Approved Class Action Settlement (Consumer Protection)"
            ],
            "Torts": [
                "Lost Wages (Torts)",
                "Medical Expenses (Torts)",
                "Pain and Suffering (Torts)",
                "Loss of Support",
                "Survivor Expenses",
                "Loss of Consortium (Torts)",
                "General Compensatory Damages",
                "Punitive Damages (Torts)"
            ],
            "Civil Rights": [
                "Compensatory Damages (Civil Rights)",
                "State Statutory Damages (Civil Rights)",
                "Nominal Damages",
                "Punitive Damages (Civil Rights)"
            ],
            "False Claims": [
                "Actual Damages (False Claims)",
                "Treble Damages",
                "Civil Penalties",
                "Restitution (False Claims)",
                "Settled Claim Damages (False Claims)",
                "Relator Share"
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "51e9fbcfab886c00cc8e86cb09a98e73",
            "Fri, 15 Jul 2022 19:50:28 GMT",
            "3454",
            "54a094b8-13f5-4ed3-a3e4-1d12dc353e0a",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]