[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "4OKlhnBkhHImevH0g6JhdMv9jjb16QSq",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-appellate-decisions/FederalDistrict",
        "body": "",
        "status": 200,
        "response": [
            "Affirmed",
            "Affirmed / Reversed in Part",
            "Reversed"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "2d3766060ee4001b16676abbb0e73788"
        ],
        "responseIsBinary": false
    }
]