[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "iwWyb4kFIACKCp9ghVb3wOaoE1ip",
            "issued_at": 1661883791479,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "5e95ff7b-8d17-4b30-b462-e60bc4f1f9ab",
            "157",
            "Tue, 30 Aug 2022 18:23:10 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/list-judgment-sources",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "No Type Specified",
                "Default Judgment",
                "Consent Judgment",
                "Judgment on Merits",
                "Jury Verdict"
            ],
            "remedies": [
                "No Type Specified",
                "Default Judgment",
                "Consent Judgment",
                "Judgment on Merits"
            ],
            "findings": [
                "No Type Specified",
                "Bench Trial",
                "Consent Judgment",
                "Default Judgment",
                "Judgment as a Matter of Law",
                "Judgment on the Pleadings",
                "Trial",
                "Summary Judgment"
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "3ac406eb88c53aeedc67599b3bfa520b",
            "Tue, 30 Aug 2022 18:23:11 GMT",
            "369",
            "efdabe1a-c152-46be-ba41-c2b294db606d",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]