[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "55OOze6T8I3JQ6vhhNlNtANHiGon",
            "issued_at": 1657914361969,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "82ba8539-e430-4b67-9665-69082cef8965",
            "157",
            "Fri, 15 Jul 2022 19:46:01 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/alpha/list-case-tags",
        "body": "",
        "status": 200,
        "response": [
            "Design Patent",
            "Motor Vehicle",
            "Premises Liability",
            "Federal Tort Claims Act",
            "Trial",
            "COVID-19",
            "Pro Se",
            "Mass Tort: Deepwater Horizon",
            "Mass Tort: Doe Run Resources",
            "Mass Tort: Wo[...]
