[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "EDiJl3n0I6gLtIPm4rSC4OJQ00tDV5Ov",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-tags/FederalDistrict",
        "body": "",
        "status": 200,
        "response": [
            {
                "court": {
                    "name": "All Federal District Courts",
                    "type": "FederalDistrict"
                },
                "caseTags": [
                    "Design Patent",
                    "Motor Vehicle",
                    "Premises Liability",
                    "Federal Tort Claims Act",
                    "Trial",
                    "COVID-19",
                    "Pro Se (Employment)",
                    "Mass Tort: Deepwater Horizon",
                    "Mass Tort: Doe Run Resources",
                    "Mass Tort: World Trade Center",
                    "State Employment Claim",
                    "ADA (C[...]
