[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "expires_in": 3600,
            "access_token": "vyQEs2OfC8Y1XWf88dfGrN6V6LxS8PFz"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-originating-venues/FederalAppeals",
        "body": "",
        "status": 200,
        "response": {
            "originatingVenues": [
                "Originating Venue: Board of Immigration Appeals",
                "Originating Venue: Court of Federal Claims",
                "Originating Venue: Federal Bankruptcy Court",
                "Originating Venue: Bankruptcy Appellate Panel",
                "Originating Venue: Federal District Court",
                "Originating Venue: Other Agency",
                "Originating Venue: ITC",
                "Originating Venue: Other Court",
                "Originating Venue: PTAB"
            ],
            "court": {
                "name": "All Federal Appeals Courts",
                "type": "FederalAppeals"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "6acbea9072ef0e95583c509ba6226a7c"
        ],
        "responseIsBinary": false
    }
]