[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-events/State",
        "body": "",
        "status": 200,
        "response": {
            "court": {
                "name": "All State Courts",
                "type": "State"
            },
            "events": [
                "Filed",
                "Trial",
                "Terminated"
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "3ce9dbbdf5837095948934883bb0a1b3"
        ],
        "responseIsBinary": false
    }
]