[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "access_token": "mWtwrx60Cr1Ohr2GNViVzhCwJAcTRmr5",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/list-events",
        "body": "",
        "status": 200,
        "response": [
            "Markman Hearing",
            "Permanent Injuction",
            "Summary Judgement",
            "Dismiss (Contested)",
            "Filed",
            "Terminated"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "0cdda20a1eceaea26b184c846378bad7;o=1"
        ],
        "responseIsBinary": false
    }
]