[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "access_token": "WdEpyQqr5hn8Ya8kWUhe8SYjqknRKr3R",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/list-courts",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "U.S. District Court for the District of New Jersey",
                "shortName": "D.N.J.",
                "abbreviation": "njd",
                "type": "FederalDistrict"
            },
            {
                "name": "U.S. District Court for the District of Columbia",
                "shortName": "D.D.C.",
                "abbreviation": "dcd",
                "type": "FederalDistrict"
            },
            {
                "name": "U.S. District Court for the District of Oregon",
                "shortName": "D.Or.",
                "abbreviation": "ord",
                "type": "FederalDistrict"
            },
            {
     [...]
