[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-resolutions/FederalAppeals",
        "body": "",
        "status": 200,
        "response": {
            "court": {
                "name": "All Federal Appeals Courts",
                "type": "FederalAppeals"
            },
            "caseResolutions": [
                {
                    "summary": "Appellee Win",
                    "specific": "Affirmed"
                },
                {
                    "summary": "Appellant Win",
                    "specific": "Affirmed / Reversed in Part"
                },
                {
                    "summary": "Appellant Win",
                    "specific": "Reversed"
                },
                {
                    "summary": "Appellant Win",
                    "specific": "Appealability Granted"
                },
                {
                    "summary": "App[...]
