[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "expires_in": 3600,
            "access_token": "pLeuaoHH0Ar9uWxK7NwXVW2dUOimQdgT",
            "token_type": "bearer"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-events/FederalDistrict",
        "body": "",
        "status": 200,
        "response": {
            "court": {
                "name": "All Federal District Courts",
                "type": "FederalDistrict"
            },
            "events": [
                "Markman Hearing",
                "Permanent Injuction",
                "Summary Judgment",
                "Dismiss (Contested)",
                "Filed",
                "Terminated"
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "2cd85fe2b24376847ac84150f0c4c7b9;o=1"
        ],
        "responseIsBinary": false
    }
]