[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/magistrate-judges?magistrateJudgeIds=1507&magistrateJudgeIds=1536&magistrateJudgeIds=1385",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Craig S Denney",
                "magistrateJudgeId": 1507,
                "initials": "CSD",
                "caseCountByCourt": [
                    {
                        "court": "total",
                        "count": 464
                    }
                ]
            },
            {
                "name": "Ajmel A Quereshi",
                "magistrateJudgeId": 1536,
                "initials": "AAQ",
                "caseCountByCourt": [
                    {
                        "court": "total",
                        "count": 489
                    }
                ]
            },
            {
                "name": "Zahid N Quraishi",
                "magistrateJudgeId": 1385,
                "initials": "ZNQ",
                "caseCountByCourt": [
                    {
                        "court": "total",
                        "count": 1759
                    }
                ]
            }
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "0ee366e270bde1d5846fce5c2e6c82dc"
        ],
        "responseIsBinary": false
    }
]