[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "expires_in": 3600,
            "access_token": "X9FH4dY5k5KNcuX4Syyi0cmDanM7WYPw",
            "token_type": "bearer"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/magistrate-judges/333",
        "body": "",
        "status": 200,
        "response": {
            "name": "Hildy Bowbeer",
            "magistrateJudgeId": 333,
            "initials": "HB",
            "caseCountByCourt": [
                {
                    "court": "total",
                    "count": 3906
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a2b2b2dd0e417d69377702e31883a309;o=1"
        ],
        "responseIsBinary": false
    }
]