[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/magistrate-judges?magistrateJudgeIds=333&magistrateJudgeIds=141&magistrateJudgeIds=131",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Hildy Bowbeer",
                "magistrateJudgeId": 333,
                "initials": "HB",
                "caseCountByCourt": [
                    {
                        "court": "total",
                        "count": 3906
                    }
                ]
            },
            {
                "name": "Nita L Stormes",
                "magistrateJudgeId": 141,
                "initials": "NLS",
                "caseCountByCourt": [
                    {
                        "court": "total",
                        "count": 4011
                    }
                ]
            },
            {
                "name": "Nathanael M Cousins",
                "magistrateJudgeId": 131,
                "initials": "NMC",
                "caseCountByCourt": [
                    {
                        "court": "total",
                        "count": 8579
                    }
                ]
            }
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "d0f871e377dce7a1dece72ae7ecc42c6"
        ],
        "responseIsBinary": false
    }
]