[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "expires_in": 3600,
            "access_token": "13MLdFSjuOdXYEygxrNjf67KtCcaBNI6"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/magistrate-judges/1507",
        "body": "",
        "status": 200,
        "response": {
            "name": "Craig S Denney",
            "magistrateJudgeId": 1507,
            "initials": "CSD",
            "caseCountByCourt": [
                {
                    "court": "total",
                    "count": 600
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a9f7891c1aa36f6c426e62da855159d7"
        ],
        "responseIsBinary": false
    }
]