[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "vc9Vawz1yABeqCNtYcimLukNQq3T",
            "issued_at": 1661880536864,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "a7c65775-b83e-4375-b036-fda80a71eea9",
            "157",
            "Tue, 30 Aug 2022 17:28:56 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/magistrate-judges?magistrateJudgeIds=333&magistrateJudgeIds=141&magistrateJudgeIds=131",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Hildy Bowbeer",
                "magistrateJudgeId": 333,
                "initials": "HB",
                "caseCountByCourt": [
                    {
                        "court": "total",
                        "count": 3907
                    }
                ]
            },
            {
                "name": "Nita L Stormes",
                "magistrateJudgeId": 141,
                "initials": "NLS",
                "caseCountByCourt": [
                    {
                        "court": "total",
                        "count": 3950
                    }
                ]
            },
            {
                "name": "Nathanael M Cousins",
                "magistrateJudgeId": 131,
                "initials": "NMC",
                "caseCountByCourt": [
                    {
                        "court": "total",
                        "count": 8257
                    }
                ]
            }
        ],
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "7cc56f9b23433ec979a4beb548b1b0da;o=1",
            "Tue, 30 Aug 2022 17:28:57 GMT",
            "361",
            "51179383-accb-4cdd-a218-c7813cab0ee8",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]