[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "expires_in": 3600,
            "access_token": "ssepd50beVtDjsFx5OCocd2CzYrgkD7z",
            "token_type": "bearer"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/magistrate-judges/1507",
        "body": "",
        "status": 200,
        "response": {
            "name": "Craig S Denney",
            "magistrateJudgeId": 1507,
            "initials": "CSD",
            "caseCountByCourt": [
                {
                    "court": "total",
                    "count": 464
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a4e749353c76291388f14e4467b76f9d"
        ],
        "responseIsBinary": false
    }
]