[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "v9ILbn3XvcLXNPTlsWxiiKa3huwy",
            "issued_at": 1661880369813,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "24c887ef-caba-451c-9f17-1b930cad1c98",
            "157",
            "Tue, 30 Aug 2022 17:26:09 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/magistrate-judges/333",
        "body": "",
        "status": 200,
        "response": {
            "name": "Hildy Bowbeer",
            "magistrateJudgeId": 333,
            "initials": "HB",
            "caseCountByCourt": [
                {
                    "court": "total",
                    "count": 3907
                }
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "13c62ba844be81933428115d68b25bfb",
            "Tue, 30 Aug 2022 17:26:10 GMT",
            "116",
            "e39e5026-c9ce-4261-9ebb-865d8363ee26",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]