[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/parties?partyIds=216320&partyIds=196852&partyIds=56391",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Neil Gaiman",
                "partyId": 216320
            },
            {
                "name": "Todd McFarlane",
                "partyId": 196852
            },
            {
                "name": "Stan Lee",
                "partyId": 56391
            }
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e0bbd1e011f776321a9d5f447fb2db86"
        ],
        "responseIsBinary": false
    }
]