[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "expires_in": 3600,
            "access_token": "NWmAC3CoT3jKDNckUpciS5h8APTi8NPc",
            "token_type": "bearer"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/parties/216320",
        "body": "",
        "status": 200,
        "response": {
            "name": "Neil Gaiman",
            "partyId": 216320
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "87a2e060dfb4561df234d7ace1fb6fdc;o=1"
        ],
        "responseIsBinary": false
    }
]