[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/parties?partyIds=216320&partyIds=196852&partyIds=56391",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Neil Gaiman",
                "partyId": 216320
            },
            {
                "name": "Todd McFarlane",
                "partyId": 196852
            },
            {
                "name": "Stan Lee",
                "partyId": 56391
            }
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "62a7941f09c7a03bd2eedbf8265ac8dc"
        ],
        "responseIsBinary": false
    }
]