[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "HStefjxhqXrKWVm5AS3Q10CMgqpr",
            "issued_at": 1661879326203,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "380ebfa9-ca96-459e-8b84-88db15726982",
            "157",
            "Tue, 30 Aug 2022 17:08:45 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/parties/216320",
        "body": "",
        "status": 200,
        "response": {
            "name": "Neil Gaiman",
            "partyId": 216320
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "fd91bb19575230dedce0bf02ed450166",
            "Tue, 30 Aug 2022 17:08:46 GMT",
            "39",
            "16caaabd-57be-4d79-9508-8bda32bc081a",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]