[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "E6Euu6sx35xY5bHUeOeBhVtSuKrzWPmh",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/parties/216320",
        "body": "",
        "status": 200,
        "response": {
            "name": "Neil Gaiman",
            "partyId": 216320
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "03e60af92f1f6e6e7dcc7caae610616f"
        ],
        "responseIsBinary": false
    }
]