[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "9raeQa0eY5cupHdJgzqeVIpaT6lT",
            "issued_at": 1661879707224,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "e19ab6aa-d35e-4b55-9a9d-af9c0a1e136a",
            "157",
            "Tue, 30 Aug 2022 17:15:07 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/parties?partyIds=216320&partyIds=196852&partyIds=56391",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Neil Gaiman",
                "partyId": 216320
            },
            {
                "name": "Todd McFarlane",
                "partyId": 196852
            },
            {
                "name": "Stan Lee",
                "partyId": 56391
            }
        ],
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "0c917dd30cfd49c0f80f5ed88382e8ae",
            "Tue, 30 Aug 2022 17:15:07 GMT",
            "120",
            "de8104d5-f3df-47fc-b2f4-e3727f7f703e",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]