[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "access_token": "2xqBdWmqwozhpULvv9jHMAQY0tHQYpd1",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/patents/7304635",
        "body": "",
        "status": 200,
        "response": {
            "number": "7304635",
            "title": "Programmable virtual book system",
            "abstract": "An electronic information browsing system that provides a book-like interface—a virtual book—for presenting electronic contents. Specifically, an electronic information browsing system that allows users to configure its behavior via data and program specification encapsulated in a dynamic file format. Configurable behavior includes but not limited to the kind of contents to be displayed in the virtual book, the sources of the contents to be displayed, the static aspects of the virtual book such as the book dimensions and the dynamic aspects of the virtual book such as when a page is to be flipped, how the flipping of pages is contingent upon the execution of certain pre-specified events, etc.",
            "inventors": {
                "inventors": [
                    "SEET CHERN HWAY",
                    "HO SENG BENG"
                ],
                "originalAssignee": [
                    "E BOOK SYSTEMS PTE LTD"
                ],
                "filingDate": "2005-12-29",
                "issueDate": "2007-12-04"
            },
            "districtCourtCases": {
                "numberOfCases": 5,
                "findings": []
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "fb1c890b36617773e29cc6807b088a82;o=1"
        ],
        "responseIsBinary": false
    }
]