[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/patents/?patentNumbers=7304635&patentNumbers=4703017&patentNumbers=6003252",
        "body": "",
        "status": 200,
        "response": [
            {
                "number": "7304635",
                "title": "Programmable virtual book system",
                "abstract": "An electronic information browsing system that provides a book-like interface—a virtual book—for presenting electronic contents. Specifically, an electronic information browsing system that allows users to configure its behavior via data and program specification encapsulated in a dynamic file format. Configurable behavior includes but not limited to the kind of contents to be displayed in the virtual book, the sources of the contents to be displayed, the static aspects of the virtual book such as the book dimensions and the dynamic aspects of the virtual book such as when a page is to be flipped, how the flipping of pages is contingent upon the execution of certain pre-specified events, etc.",
                "inventors": {
                    "inventors": [
                        "SEET CHERN HWAY",
                        "HO SENG BENG"
                    ],
                    "originalAssignee": [
                        "E BOOK SYSTEMS PTE LTD"
                    ],
                    "filingDate": "2005-12-29",
                    "issueDate": "2007-12-04"
                },
                "districtCourtCases": {
                    "numberOfCases": 5,
                    "findings": []
                }
            },
            {
                "number": "4703017",
                "title": "Solid phase assay with visual readout",
                "abstract": "Solid phase assay for an analyte wherein binder is supported on a solid support, such as nitrocellulose, and the tracer is comprised of ligand labeled with a colored particulate label, such as a liposome including a dye. The assay has a high sensitivity, and the tracer is visible on the support under assay condition[...]
