[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "patents": {
                "include": [
                    10560500
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2007296570",
                    "districtCaseId": 2007296570
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "1c79ed38a7b89de5bc60f5cec5404029"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "patents": {
                "exclude": [
                    10560500
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "f075e9a77da93fc564e2a015d3b56ca5"
        ],
        "responseIsBinary": false
    },
[...]
