[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "parties": {
                "include": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2000013775",
                    "districtCaseId": 2000013775
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000685",
                    "districtCaseId": 1000000685
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000692",
                    "districtCaseId": 1000000692
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000949",
                    "districtCaseId": 1000000949
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000950",
                    "districtCaseId": 1000000950
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "2a73dd5c7f67d8244ef751e91e4e2e8c"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "parties": {
                "exclude": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "6d3361bdcd2face53808dc052e9fcf57"
        ],
        "responseIsBinary": false
    },
[...]
