[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "damages": [
                {
                    "awardedToParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/13948",
                    "districtCaseId": 13948
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/25330",
                    "districtCaseId": 25330
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/96386",
                    "districtCaseId": 96386
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000000368",
                    "districtCaseId": 2000000368
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000023546",
                    "districtCaseId": 2000023546
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "684fbf7e2411e059abddf245b35e6984"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "damages": [
                {
                    "awardedAgainstParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2001796540",
                    "districtCaseId": 2001796540
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000100118",
                    "districtCaseId": 2000100118
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001809666",
                    "districtCaseId": 2001809666
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000657835",
                    "districtCaseId": 2000657835
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001791039",
                    "districtCaseId": 2001791039
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "cdf2fb708c459a169c2671410e3077ae"
        ],
        "responseIsBinary": false
    },
[...]
