[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "parties": {
                "includePlaintiff": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000985",
                    "districtCaseId": 1000000985
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000001024",
                    "districtCaseId": 1000001024
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000700678",
                    "districtCaseId": 2000700678
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/24665",
                    "districtCaseId": 24665
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001879436",
                    "districtCaseId": 2001879436
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "8b294582fbe80bbfda25a9ba3f0692ab"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "parties": {
                "excludePlaintiff": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "9b0a7f1f303c9892b25aedf7632af192;o=1"
        ],
        "responseIsBinary": false
    },
[...]
