[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "parties": {
                "includeAppellant": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005391413",
                    "appealsCaseId": 2005391413
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005392876",
                    "appealsCaseId": 2005392876
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005392877",
                    "appealsCaseId": 2005392877
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005393746",
                    "appealsCaseId": 2005393746
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005393749",
                    "appealsCaseId": 2005393749
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "25bbd24d25d9c622cd940a7ed1251900"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "parties": {
                "excludeAppellant": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "5c571532bc979fed76b4d1b7004a72ec"
        ],
        "responseIsBinary": false
    },
[...]
