[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-tags/FederalAppeals",
        "body": "",
        "status": 200,
        "response": [
            {
                "court": {
                    "name": "All Federal Appeals Courts",
                    "type": "FederalAppeals"
                },
                "caseTags": [
                    "Panel Rehearing Granted",
                    "SCOTUS Decision",
                    "Certificate of Appealability: Grant",
                    "Certificate of Appealability: Deny",
                    "Petition for Review: Grant",
                    "Petition for Review: Deny",
                    "Permission to Appeal: Grant",
                    "Permission to Appeal: Deny",
                    "Appealability Ruling",
                    "Writ of Certiorari Granted",
                    "Rehearing En Banc Granted"
                ]
            }
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e460ad1cc09f5d57ebdbfa871942bd1b"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "caseTags": {
                "include": [
                    "Appealability Ruling"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005678180",
                    "appealsCaseId": 2005678180
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005756070",
                    "appealsCaseId": 2005756070
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005786557",
                    "appealsCaseId": 2005786557
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005802993",
                    "appealsCaseId": 2005802993
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "8f285a7dcd4212d90e96341d5b6856a9"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "caseTags": {
                "exclude": [
                    "Appealability Ruling"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624120",
                    "appealsCaseId": 2005624120
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "4bba238c012d85c6e575104434a0b91f"
        ],
        "responseIsBinary": false
    },
[...]
