[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "courts": {
                "include": [
                    "njd"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2001656684",
                    "districtCaseId": 2001656684
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001650142",
                    "districtCaseId": 2001650142
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5922",
                    "districtCaseId": 5922
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001566573",
                    "districtCaseId": 2001566573
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001575686",
                    "districtCaseId": 2001575686
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "484619d44040476e515b8e250b976558"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "courts": {
                "exclude": [
                    "njd"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "26446a0a9c04a1ebf8066be6f80d6e72"
        ],
        "responseIsBinary": false
    },
[...]
