[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "dates": {
                "filed": {
                    "onOrAfter": "2022-01-01",
                    "onOrBefore": "2022-01-01"
                }
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 100
        },
        "status": 200,
        "response": {
            "caseIds": [
                2007625272,
                2007625273,
                2007631031,
                2007631032,
                2007631033,
                2007631035,
                2007631039,
                2007631040,
                2007631075,
                2007631078,
                2007631079,
                2007631086,
                2007631087,
                2007631098,
                2007631101,
                2007631104,
                2007631114,
                2007631119,
                2007631128,
                2007631717,
                2007631763,
                2007633164,
                2007691573
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "7d02c97b0fa3e601bd410b65a5fcd0ba"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "exclude": [
                    "Unfair / Deceptive Trade Practices"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e82099c84306666c924e5d5fbb799789"
        ],
        "responseIsBinary": false
    },
[...]
