[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "remedies": [
                {
                    "awardedToParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/7170",
                    "districtCaseId": 7170
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/6528",
                    "districtCaseId": 6528
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/7371",
                    "districtCaseId": 7371
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/7370",
                    "districtCaseId": 7370
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/8946",
                    "districtCaseId": 8946
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "bec0defc3ad23951948bbb5819a5b5b7"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "remedies": [
                {
                    "awardedAgainstParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2001796540",
                    "districtCaseId": 2001796540
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001809666",
                    "districtCaseId": 2001809666
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001597735",
                    "districtCaseId": 2001597735
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001791039",
                    "districtCaseId": 2001791039
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001795716",
                    "districtCaseId": 2001795716
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "48528745367a93be44abede7f1b618bb"
        ],
        "responseIsBinary": false
    },
[...]
