[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "parties": {
                "includePlaintiff": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                1000000985,
                1000001024,
                2000700678,
                24665,
                2001879436
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "03dd472f18945feee2c5d8bd42b36946"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "exclude": [
                    "Federal Tort Claims Act"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "4411100b2e80ac21bc21034c500bd6dd"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "parties": {
                "excludePlaintiff": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "624ca62eccc108764ae128b2b8ed8476"
        ],
        "responseIsBinary": false
    },
[...]
