[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "lawFirms": {
                "includePlaintiff": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/3774",
                    "districtCaseId": 3774
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/23242",
                    "districtCaseId": 23242
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/3700",
                    "districtCaseId": 3700
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/3742",
                    "districtCaseId": 3742
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/3743",
                    "districtCaseId": 3743
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "6d2909655d6579917ad62a7be9a1c638"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "lawFirms": {
                "excludePlaintiff": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "ac2fe73160961b2309b755c0d388643a;o=1"
        ],
        "responseIsBinary": false
    },
[...]
