[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "lawFirms": {
                "includeThirdParty": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005974301",
                    "appealsCaseId": 2005974301
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005391413",
                    "appealsCaseId": 2005391413
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005391436",
                    "appealsCaseId": 2005391436
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005911650",
                    "appealsCaseId": 2005911650
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005842421",
                    "appealsCaseId": 2005842421
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "ee37e5c7227f5d9a7e4a034fa986b9b9"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "lawFirms": {
                "excludeThirdParty": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e9415696a9fc416baa9c7db63f784383"
        ],
        "responseIsBinary": false
    },
[...]
