[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "lawFirms": {
                "includeDefendant": [
                    69545896
                ]
            },
            "courts": {
                "state": "NV"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940417",
                    "stateCaseId": 2003940417
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003945140",
                    "stateCaseId": 2003945140
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940737",
                    "stateCaseId": 2003940737
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940815",
                    "stateCaseId": 2003940815
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003942425",
                    "stateCaseId": 2003942425
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "fc3f2dd29ca6fe3114a66d00d9f06a7f"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "lawFirms": {
                "excludeDefendant": [
                    69545896
                ]
            },
            "courts": {
                "state": "NV"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940414",
                    "stateCaseId": 2003940414
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003945132",
                    "stateCaseId": 2003945132
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940413",
                    "stateCaseId": 2003940413
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940418",
                    "stateCaseId": 2003940418
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940421",
                    "stateCaseId": 2003940421
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b85e1419eaab97fc929274b2968c7d65"
        ],
        "responseIsBinary": false
    },
[...]
