[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "awardedToParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/7170",
                    "districtCaseId": 7170
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/6528",
                    "districtCaseId": 6528
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/7371",
                    "districtCaseId": 7371
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/7370",
                    "districtCaseId": 7370
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/8946",
                    "districtCaseId": 8946
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "546b1f716dace259844bfc600c250423"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "awardedAgainstParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/7170",
                    "districtCaseId": 7170
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000657835",
                    "districtCaseId": 2000657835
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000001413",
                    "districtCaseId": 2000001413
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000003263",
                    "districtCaseId": 2000003263
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000003844",
                    "districtCaseId": 2000003844
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "5627760653cee691bc381d185bbef6f7"
        ],
        "responseIsBinary": false
    },
[...]
