[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "damages": [
                {
                    "date": {
                        "onOrAfter": "2010-01-01",
                        "onOrBefore": "2011-01-01"
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2002223010",
                    "districtCaseId": 2002223010
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000707601",
                    "districtCaseId": 2000707601
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000707734",
                    "districtCaseId": 2000707734
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000096394",
                    "districtCaseId": 2000096394
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000095605",
                    "districtCaseId": 2000095605
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "75a5f298293afa33a0fce1fec4e6662b"
        ],
        "responseIsBinary": false
    }
]