[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "remedies": [
                {
                    "date": {
                        "onOrAfter": "2010-01-01",
                        "onOrBefore": "2011-01-01"
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2002223010",
                    "districtCaseId": 2002223010
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000094352",
                    "districtCaseId": 2000094352
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000114354",
                    "districtCaseId": 2000114354
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001809882",
                    "districtCaseId": 2001809882
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000095674",
                    "districtCaseId": 2000095674
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "4b617e8cd6cf33f584d103961ab5c2f7"
        ],
        "responseIsBinary": false
    }
]