[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "attorneys": {
                "includeAppellant": [
                    111150293
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005948377",
                    "appealsCaseId": 2005948377
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005995333",
                    "appealsCaseId": 2005995333
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005924477",
                    "appealsCaseId": 2005924477
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005990391",
                    "appealsCaseId": 2005990391
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006640150",
                    "appealsCaseId": 2006640150
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e348945f8144fdf87a519517000eda2e"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "attorneys": {
                "excludeAppellant": [
                    111150293
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "013726306a11050f5b6c2e8bfeb84032"
        ],
        "responseIsBinary": false
    },
[...]
