[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "parties": {
                "includeAppellee": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005961159",
                    "appealsCaseId": 2005961159
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006110468",
                    "appealsCaseId": 2006110468
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006109517",
                    "appealsCaseId": 2006109517
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006110538",
                    "appealsCaseId": 2006110538
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006110543",
                    "appealsCaseId": 2006110543
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b88a430eb6006d7c936e1358568b7ef5"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "parties": {
                "excludeAppellee": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "95d986cf0e78dda0fc3a771b8241500d"
        ],
        "responseIsBinary": false
    },
[...]
