[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "exclude": [
                    "ADA: Website Access Accommodation"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "2b8fb9b177a6e30a60bef21bbac4f608"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "awardedToParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                7170,
                6528,
                7371,
                7370,
                8946
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a56e477ac8cefa8b167324ba401451d7"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "awardedAgainstParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                7170,
                2000001413,
                2000003263,
                2000003844,
                2000005959
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "7b76150979e207e9f4af8bbb4c2bd0d9"
        ],
        "responseIsBinary": false
    },
[...]
