[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-sources/FederalDistrict",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "Default Judgment",
                "Judgment on Merits",
                "Jury Verdict",
                "No Type Specified",
                "Consent Judgment"
            ],
            "remedies": [
                "Judgment on Merits",
                "No Type Specified",
                "Consent Judgment",
                "Default Judgment"
            ],
            "findings": [
                "Judgment on the Pleadings",
                "Judgment as a Matter of Law",
                "Default Judgment",
                "No Type Specified",
                "Consent Judgment",
                "Summary Judgment",
                "Trial"
            ],
            "court": {
                "name": "All Federal District Courts",
                "type": "FederalDistrict"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "044e23c19187e46a8b4cd585b32f257c"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "damages": [
                {
                    "judgmentSource": {
                        "include": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/11426",
                    "districtCaseId": 11426
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000097589",
                    "districtCaseId": 2000097589
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/972",
                    "districtCaseId": 972
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001853420",
                    "districtCaseId": 2001853420
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001978183",
                    "districtCaseId": 2001978183
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "6e72f9a82a0f31e9cae724c89e3c2193"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "damages": [
                {
                    "judgmentSource": {
                        "exclude": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/3704",
                    "districtCaseId": 3704
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000097589",
                    "districtCaseId": 2000097589
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5916",
                    "districtCaseId": 5916
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/16189",
                    "districtCaseId": 16189
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1",
                    "districtCaseId": 1
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "64e2a74992175dd32a41666544dfd840"
        ],
        "responseIsBinary": false
    },
[...]
