[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/list-events",
        "body": "",
        "status": 200,
        "response": [
            "Markman Hearing",
            "Permanent Injuction",
            "Summary Judgement",
            "Dismiss (Contested)",
            "Filed",
            "Terminated"
        ],
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "7c88a7f60139fa4a2ab201bd960a0a7b;o=1",
            "Mon, 12 Sep 2022 22:16:51 GMT",
            "104",
            "562909b4-cb08-9423-bbac-ea020af5a4d8",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "events": {
                "includeEventTypes": [
                    "Dismiss (Contested)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                12323,
                3707,
                677,
                3704,
                15984
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "87d6488228700979e165b101cf21c85f",
            "Mon, 12 Sep 2022 22:16:51 GMT",
            "39",
            "4b118845-097b-4cbe-87be-3d49dccc9740",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "events": {
                "excludeEventTypes": [
                    "Dismiss (Contested)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                13213,
                1000000126
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "4b155da06a1dab3693b1925c0fc08589",
            "Mon, 12 Sep 2022 22:16:51 GMT",
            "44",
            "c044237d-d67a-480e-8392-f02aef3b1fc2",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
