[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "cj1auykPQ4dPsez33F6PLifhoC2yAcZf",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-courts/State",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Los Angeles County Superior Court",
                "type": "State",
                "state": "CA"
            },
            {
                "name": "Sacramento County Superior Court",
                "type": "State",
                "state": "CA"
            },
            {
                "name": "San Bernardino County Superior Court",
                "type": "State",
                "state": "CA"
            },
            {
                "name": "Riverside County Superior Court",
                "type": "State",
                "state": "CA"
            },
            {
      [...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "caseStatus": "Open",
            "courts": {
                "state": "CA",
                "include": [
                    "Los Angeles County Superior Court"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2002825104",
                    "stateCaseId": 2002825104
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002784346",
                    "stateCaseId": 2002784346
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002792849",
                    "stateCaseId": 2002792849
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002651290",
                    "stateCaseId": 2002651290
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002651299",
                    "stateCaseId": 2002651299
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "56296731120d7351a800593de0546483"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "caseStatus": "Open",
            "courts": {
                "state": "CA",
                "exclude": [
                    "Los Angeles County Superior Court"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003503224",
                    "stateCaseId": 2003503224
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003517707",
                    "stateCaseId": 2003517707
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003581463",
                    "stateCaseId": 2003581463
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003742406",
                    "stateCaseId": 2003742406
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003806569",
                    "stateCaseId": 2003806569
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "5dea755a2391bd107ad70cce90f76948"
        ],
        "responseIsBinary": false
    },
[...]
