[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-sources",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "Consent Judgment",
                "Judgment on Merits",
                "Default Judgment",
                "No Type Specified",
                "Jury Verdict"
            ],
            "remedies": [
                "Judgment on Merits",
                "No Type Specified",
                "Consent Judgment",
                "Default Judgment"
            ],
            "findings": [
                "Judgment as a Matter of Law",
                "Trial",
                "Judgment on the Pleadings",
                "Consent Judgment",
                "Default Judgment",
                "Summary Judgment",
                "No Type Specified"
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "f200d753d2438f3d81d37fe4ea53f30e"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "judgmentSource": {
                        "include": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                18965,
                11426,
                5826,
                18637,
                5985
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "fc24724a5a478e7c9338648d773978a7"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "include": [
                    "Delinquent Contribution (ERISA)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2000707664,
                2000707601,
                2000707623,
                2000707556,
                2000707369
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "fb51af14ca859553d3b83179b6e945d3"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "resolutions": {
                "include": [
                    {
                        "summary": "Likely Settlement",
                        "specific": "Likely Settlement"
                    }
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "3e468ecdcdbb93752b5ea3cacb10968a"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "judgmentSource": {
                        "exclude": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                3704,
                2000097589,
                5833,
                3774,
                5916
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "5be95e6d205265d2de4ddb09c7c060e8"
        ],
        "responseIsBinary": false
    },
[...]
