[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "lawFirms": {
                "includePlaintiff": [
                    80911837
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005478766",
                    "stateCaseId": 2005478766
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005509488",
                    "stateCaseId": 2005509488
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005524690",
                    "stateCaseId": 2005524690
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005426448",
                    "stateCaseId": 2005426448
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005512669",
                    "stateCaseId": 2005512669
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "dfda0b4c3d756aa2644a393e26e1cc4f"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "lawFirms": {
                "excludePlaintiff": [
                    80911837
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005413379",
                    "stateCaseId": 2005413379
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005410926",
                    "stateCaseId": 2005410926
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005412253",
                    "stateCaseId": 2005412253
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005415669",
                    "stateCaseId": 2005415669
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005416750",
                    "stateCaseId": 2005416750
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "4b2a64a3e1c51c68117f284bd9866459"
        ],
        "responseIsBinary": false
    },
[...]
