[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "parties": {
                "includeThirdParty": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005670866",
                    "appealsCaseId": 2005670866
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005670113",
                    "appealsCaseId": 2005670113
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005668667",
                    "appealsCaseId": 2005668667
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005987342",
                    "appealsCaseId": 2005987342
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005391568",
                    "appealsCaseId": 2005391568
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a95360442408ea5a55e5ca285a411fa6"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "parties": {
                "excludeThirdParty": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "9b129a03261bb5fbb59daea444034b0c"
        ],
        "responseIsBinary": false
    },
[...]
