[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "remedies": [
                {
                    "awardedToParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                7170,
                6528,
                7371,
                7370,
                8946
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "05b9a49c12aacd2bd48b45e3d69dac72;o=1",
            "Tue, 13 Sep 2022 17:26:33 GMT",
            "38",
            "0b7c577c-f6c9-46fd-94eb-52d5d8c7add2",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "remedies": [
                {
                    "awardedAgainstParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2001796540,
                2001809666,
                2001597735,
                2001791039,
                2001795716
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "fbf10e00e741b250dcaaeae384fe086a",
            "Tue, 13 Sep 2022 17:26:35 GMT",
            "68",
            "f108d7b8-588b-4d2b-a0e4-8c190d5beb53",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
