[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-resolutions",
        "body": "",
        "status": 200,
        "response": [
            {
                "summary": "Claimant Win",
                "specific": "Trial"
            },
            {
                "summary": "Claimant Win",
                "specific": "Decision on Bankruptcy Appeal"
            },
            {
                "summary": "Claim Defendant Win",
                "specific": "Trial"
            },
            {
                "summary": "Claim Defendant Win",
                "specific": "Decision on Bankruptcy Appeal"
            },
            {
                "summary": "Procedural",
                "specific": "Interd[...]
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "resolutions": {
                "include": [
                    {
                        "summary": "Claimant Win",
                        "specific": "Trial"
                    }
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                972,
                3739,
                23245,
                12195,
                30767
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "9706d1b3efb80312c4db4c2fc9ec6745"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "include": [
                    "Individual Debtor"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2000707591,
                2000707581,
                2000707687,
                2000707658,
                2000707588
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "60282ce55df6e78b7afb1a05a2c18ad0"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "resolutions": {
                "exclude": [
                    {
                        "summary": "Claimant Win",
                        "specific": "Trial"
                    }
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "d904093df781f027d2393609c7f79e44"
        ],
        "responseIsBinary": false
    },
[...]
