[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "judges": {
                "include": [
                    2634
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005448263",
                    "stateCaseId": 2005448263
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005495167",
                    "stateCaseId": 2005495167
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005410232",
                    "stateCaseId": 2005410232
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005499648",
                    "stateCaseId": 2005499648
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2007299028",
                    "stateCaseId": 2007299028
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "5647cabcc7dd4b9985c95d0c9e4e2c9f;o=1"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "judges": {
                "exclude": [
                    2634
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005413379",
                    "stateCaseId": 2005413379
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005410926",
                    "stateCaseId": 2005410926
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005412253",
                    "stateCaseId": 2005412253
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005415669",
                    "stateCaseId": 2005415669
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005416750",
                    "stateCaseId": 2005416750
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "df3fd1b276dc908b1ab1b0cc706d5fe9"
        ],
        "responseIsBinary": false
    },
[...]
