[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-tags/FederalDistrict",
        "body": "",
        "status": 200,
        "response": [
            {
                "court": {
                    "name": "All Federal District Courts",
                    "type": "FederalDistrict"
                },
                "caseTags": [
                    "Design Patent",
                    "Motor Vehicle",
                    "Premises Liability",
                    "Federal Tort Claims Act",
                    "Trial",
                    "COVID-19",
                    "Pro Se (Employment)",
                    "Mass Tort: Deepwater Horizon",
                    "Mass Tort: Doe Run Resources",
                    "Mass Tort: World Trade Center",
                    "State Employment Claim",
                    "ADA (C[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "include": [
                    "ADA (Civil Rights)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2002226334",
                    "districtCaseId": 2002226334
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2002309851",
                    "districtCaseId": 2002309851
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000707549",
                    "districtCaseId": 2000707549
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2002437527",
                    "districtCaseId": 2002437527
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2002341189",
                    "districtCaseId": 2002341189
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "0a789ca6b7c286f8e14397e314399cf9"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "exclude": [
                    "ADA (Civil Rights)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "246db678bb13c1bfb2f04222a16fcc2c"
        ],
        "responseIsBinary": false
    },
[...]
