[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "lawFirms": {
                "include": [
                    8489350
                ]
            },
            "courts": {
                "state": "NV"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940435",
                    "stateCaseId": 2003940435
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940594",
                    "stateCaseId": 2003940594
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003945463",
                    "stateCaseId": 2003945463
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003959013",
                    "stateCaseId": 2003959013
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003965442",
                    "stateCaseId": 2003965442
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "195703e588e2e4a6a483f47834b4f55d"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "lawFirms": {
                "exclude": [
                    8489350
                ]
            },
            "courts": {
                "state": "NV"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940414",
                    "stateCaseId": 2003940414
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003945132",
                    "stateCaseId": 2003945132
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940413",
                    "stateCaseId": 2003940413
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940417",
                    "stateCaseId": 2003940417
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940418",
                    "stateCaseId": 2003940418
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "d173f0e304f07f4075258ed1c58e002c"
        ],
        "responseIsBinary": false
    },
[...]
