[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-sources",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "Consent Judgment",
                "Judgment on Merits",
                "Default Judgment",
                "No Type Specified",
                "Jury Verdict"
            ],
            "remedies": [
                "Judgment on Merits",
                "No Type Specified",
                "Consent Judgment",
                "Default Judgment"
            ],
            "findings": [
                "Judgment as a Matter of Law",
                "Trial",
                "Judgment on the Pleadings",
                "Consent Judgment",
                "Default Judgment",
                "Summary Judgment",
                "No Type Specified"
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "9d291164925b74ee38a8e6f21521d8ec"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "damages": [
                {
                    "judgmentSource": {
                        "include": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                11426,
                2000097589,
                972,
                5903,
                2002223010
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "c8665b5743fb04534fef15d9b11736a0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "include": [
                    "Qui Tam (False Claims)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2001583881,
                2004098701,
                2002171699,
                2001618688,
                2001889849
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "58ac8c6e9cb20398d0f49f58141c8acb"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "damages": [
                {
                    "judgmentSource": {
                        "exclude": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                3704,
                2000097589,
                5916,
                16189,
                1
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "06360c942184daa3342bc0621e38f07a"
        ],
        "responseIsBinary": false
    },
[...]
