[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "attorneys": {
                "includeDefendant": [
                    141150476
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005448263",
                    "stateCaseId": 2005448263
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "9a3bbb704c81084dc29a9dff0181f728"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "attorneys": {
                "excludeDefendant": [
                    141150476
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005413379",
                    "stateCaseId": 2005413379
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005410926",
                    "stateCaseId": 2005410926
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005412253",
                    "stateCaseId": 2005412253
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005415669",
                    "stateCaseId": 2005415669
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005416750",
                    "stateCaseId": 2005416750
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "08f115c87d70755420093c559cd0acce"
        ],
        "responseIsBinary": false
    },
[...]
