[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "courts": {
                "state": "CA"
            },
            "damages": [
                {
                    "awardedToParties": [
                        25344
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2004712427",
                    "stateCaseId": 2004712427
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003150462",
                    "stateCaseId": 2003150462
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2006297560",
                    "stateCaseId": 2006297560
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003813416",
                    "stateCaseId": 2003813416
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003191293",
                    "stateCaseId": 2003191293
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "9c4eeae2898d57ac39c74319b49a3d43"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "courts": {
                "state": "CA"
            },
            "damages": [
                {
                    "awardedAgainstParties": [
                        68452930
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2007673579",
                    "stateCaseId": 2007673579
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "9b8ccaed450c253ad84648b8e34cb27a"
        ],
        "responseIsBinary": false
    },
[...]
