[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "parties": {
                "includeDefendant": [
                    55964
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005448263",
                    "stateCaseId": 2005448263
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005470399",
                    "stateCaseId": 2005470399
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005408435",
                    "stateCaseId": 2005408435
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005426625",
                    "stateCaseId": 2005426625
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005426089",
                    "stateCaseId": 2005426089
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "481eb23512c0c39a2fc766f276ab2507"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "parties": {
                "excludeDefendant": [
                    55964
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005413379",
                    "stateCaseId": 2005413379
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005410926",
                    "stateCaseId": 2005410926
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005412253",
                    "stateCaseId": 2005412253
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005415669",
                    "stateCaseId": 2005415669
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005416750",
                    "stateCaseId": 2005416750
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "5b022e24e456d96d67be1dccedc24eb7"
        ],
        "responseIsBinary": false
    },
[...]
