[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "courts": {
                "include": [
                    "njd"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2001656684,
                2001650142,
                5922,
                2001566573,
                2001575686
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "610a4eb5048991797389cee58d8252a2",
            "Tue, 13 Sep 2022 18:04:18 GMT",
            "62",
            "f3df4bb9-e08b-4521-95c8-2228fe90d806",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "courts": {
                "exclude": [
                    "njd"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "91ae0cb290849c267004656332607f25",
            "Tue, 13 Sep 2022 18:04:19 GMT",
            "39",
            "9d04bdf3-204c-4d4b-82c1-1d839e0a0028",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
