[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/list-case-types",
        "body": "",
        "status": 200,
        "response": [
            "Antitrust",
            "Bankruptcy",
            "Civil Rights",
            "Consumer Protection",
            "Contracts",
            "Copyright",
            "ERISA",
            "Employment",
            "Environmental",
            "False Claims",
            "Insurance",
            "Patent",
            "Product Liability",
            "Securities",
            "Tax",
            "Torts",
            "Trade Secret",
            "Trademark",
            "Remaining Federal"
        ],
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "b425edafec727a8726733609ac4afc14",
            "Mon, 12 Sep 2022 22:04:54 GMT",
            "254",
            "2436c2c4-c1ac-4bf3-a00a-d068f863e708",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "caseTypes": {
                "include": [
                    "Antitrust"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2000308534,
                2000308535,
                2000308536,
                2000308537,
                2000308529
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "6dc4c281b3f6606cce5b72a637a1b429",
            "Mon, 12 Sep 2022 22:04:54 GMT",
            "68",
            "b49ebb0b-cfbb-485a-9b1a-15c26dfcbbfa",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "caseTypes": {
                "exclude": [
                    "Antitrust"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "25635a4b2edce60e1db742908bb990ca",
            "Mon, 12 Sep 2022 22:05:00 GMT",
            "39",
            "7cc16320-28da-4225-8edc-4bc4a066ae1e",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
