[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "courts": {
                "state": "CA"
            },
            "damages": [
                {
                    "awardedToParties": [
                        25344
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2004712427",
                    "stateCaseId": 2004712427
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003150462",
                    "stateCaseId": 2003150462
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2006297560",
                    "stateCaseId": 2006297560
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003813416",
                    "stateCaseId": 2003813416
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003191293",
                    "stateCaseId": 2003191293
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "94fa06497091f14a8b1bcd7ea7ce10af"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "courts": {
                "state": "CA"
            },
            "damages": [
                {
                    "awardedAgainstParties": [
                        68452930
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2007673579",
                    "stateCaseId": 2007673579
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "2e7f14bda85684c340f64d076f5dd51d"
        ],
        "responseIsBinary": false
    },
[...]
