[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "patentInvalidityReasons": {
                        "include": [
                            "Invalidity: 103 Obviousness"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2",
                    "districtCaseId": 2
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/3699",
                    "districtCaseId": 3699
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5803",
                    "districtCaseId": 5803
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/16888",
                    "districtCaseId": 16888
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5956",
                    "districtCaseId": 5956
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "529ad0c5e032aaef66e91dfa0bf2261c"
        ],
        "responseIsBinary": false
    },
[...]
