[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "remedies": [
                {
                    "date": {
                        "onOrAfter": "2010-01-01",
                        "onOrBefore": "2011-01-01"
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2002223010,
                2000094352,
                2000114354,
                2001809882,
                2000095674
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e633ef0c66530afebea7a36ed72a52d3"
        ],
        "responseIsBinary": false
    }
]