[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-tags",
        "body": "",
        "status": 200,
        "response": [
            "Design Patent",
            "Motor Vehicle",
            "Premises Liability",
            "Federal Tort Claims Act",
            "Trial",
            "COVID-19",
            "Pro Se (Employment)",
            "Mass Tort: Deepwater Horizon",
            "Mass Tort: Doe Run Resources",
            "Mass Tort: World Trade Center",
            "State Employment Claim",
            "ADA (Civil Rights)",
            "Police Action",
            "Business Interruption",
            "De[...]
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "include": [
                    "ADA (Civil Rights)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2002226334,
                2002309851,
                2000707549,
                2002437527,
                2002341189
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "da2db65e8f11241bfe76ffcc7a0e25c2;o=1"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "exclude": [
                    "ADA (Civil Rights)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "07604c7d52120de768e673d7124c6db6"
        ],
        "responseIsBinary": false
    },
[...]
