[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/list-case-tags",
        "body": "",
        "status": 200,
        "response": [
            "Design Patent",
            "Motor Vehicle",
            "Premises Liability",
            "Federal Tort Claims Act",
            "Trial",
            "COVID-19",
            "Pro Se",
            "Mass Tort: Deepwater Horizon",
            "Mass Tort: Doe Run Resources",
            "Mass Tort: World Trade Center",
            "State Employment Claim",
            "ADA (Civil Rights)",
            "Police Misconduct",
            "Business Interruption",
            "Declaratory[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "caseTags": {
                "include": [
                    "ADA (Civil Rights)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2002226334,
                2002309851,
                2000707549,
                2002437527,
                2002341189
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "b0f48959d4dc8ec091552e8bebbc6db9",
            "Mon, 12 Sep 2022 21:36:41 GMT",
            "68",
            "b9b82292-5040-45f9-9513-870ff7dfb4c9",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "caseTags": {
                "exclude": [
                    "ADA (Civil Rights)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "40872844297a12608d4d2f490b378bac",
            "Mon, 12 Sep 2022 21:37:32 GMT",
            "39",
            "5969bf2f-5afe-4ac2-aec0-0c9bf0690f37",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
