[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "mdl": {
                "include": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2000326912",
                    "districtCaseId": 2000326912
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000326914",
                    "districtCaseId": 2000326914
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000326913",
                    "districtCaseId": 2000326913
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "1210cd5d975d6565462b2b9650b2a2c3"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "parties": {
                "exclude": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "4955989b8dc3589f9b86847e944e920c;o=1"
        ],
        "responseIsBinary": false
    },
[...]
