[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/list-judgment-sources",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "Judgment on Merits",
                "Consent Judgment",
                "Default Judgment",
                "No Type Specified",
                "Jury Verdict"
            ],
            "remedies": [
                "Default Judgment",
                "No Type Specified",
                "Judgment on Merits",
                "Consent Judgment"
            ],
            "findings": [
                "Judgment on the Pleadings",
                "Judgment as a Matter of Law",
                "Trial",
                "Summary Judgment",
                "Consent Judgment",
                "Default Judgment",
                "No Type Specified"
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "219a3e1eb4d10be66f2d70aa2e5d362f",
            "Tue, 13 Sep 2022 17:23:21 GMT",
            "355",
            "82a6b9e3-9280-431b-9cba-6ba49e94f99b",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "remedies": [
                {
                    "judgmentSource": {
                        "include": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                1000000126,
                9789,
                18965,
                11426,
                3704
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "abb77c29c33eddf9a06e871b20428dd0",
            "Tue, 13 Sep 2022 17:23:21 GMT",
            "46",
            "e1d33d78-7012-484a-a808-e1848693ea62",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "remedies": [
                {
                    "judgmentSource": {
                        "exclude": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                9789,
                2000097589,
                5916,
                17109,
                23242
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "20955817253c8cfbbe591f56f0ab4d96",
            "Tue, 13 Sep 2022 17:23:23 GMT",
            "46",
            "7e960aa2-3cfb-49f6-9be7-53c5388f64e9",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
