[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "lawFirms": {
                "includeRespondent": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005791105",
                    "appealsCaseId": 2005791105
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005785492",
                    "appealsCaseId": 2005785492
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005892980",
                    "appealsCaseId": 2005892980
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005795903",
                    "appealsCaseId": 2005795903
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005809694",
                    "appealsCaseId": 2005809694
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "00cbe4cc3b671f3f4cef64322055bef1"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "lawFirms": {
                "excludeRespondent": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "f5ab5f60c441c375ae449db2e208fca9"
        ],
        "responseIsBinary": false
    },
[...]
