[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "lawFirms": {
                "includeDefendant": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/5817",
                    "districtCaseId": 5817
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000129",
                    "districtCaseId": 1000000129
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000116757",
                    "districtCaseId": 2000116757
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12312",
                    "districtCaseId": 12312
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000025",
                    "districtCaseId": 1000000025
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "5a39117b2fbfccca4bc067b91fdb7cac"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "lawFirms": {
                "excludeDefendant": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "3944df0047ef9e3373e7ebc0b67e17e7"
        ],
        "responseIsBinary": false
    },
[...]
