[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "judges": {
                "include": [
                    3488
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2000116757",
                    "districtCaseId": 2000116757
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001048281",
                    "districtCaseId": 2001048281
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2002245564",
                    "districtCaseId": 2002245564
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000126947",
                    "districtCaseId": 2000126947
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001566995",
                    "districtCaseId": 2001566995
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e0ac8921ece8500c750714de7e52ba2b"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "judges": {
                "exclude": [
                    3488
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b6488b464c054a32143059dce97fe05e"
        ],
        "responseIsBinary": false
    },
[...]
