[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/list-events",
        "body": "",
        "status": 200,
        "response": [
            "Markman Hearing",
            "Permanent Injuction",
            "Summary Judgement",
            "Dismiss (Contested)",
            "Filed",
            "Terminated"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "7f6c0c1bd4fbcf204e363344a50c21d3"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "events": {
                "includeEventTypes": [
                    "Dismiss (Contested)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                12323,
                3707,
                677,
                3704,
                15984
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "d91570f8e3623593413ce3ed84e03703"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "events": {
                "excludeEventTypes": [
                    "Dismiss (Contested)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                13213,
                1000000126
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "3533e93e005c0b4c1797936644a4590b"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "include": [
                    "Chapter 13"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2000707591,
                2000707581,
                2000707690,
                2000707646,
                2000707666
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "c6c7d84b6e005889ef5ea6ded0fa8267"
        ],
        "responseIsBinary": false
    },
[...]
