[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-sources/FederalDistrict",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "Default Judgment",
                "Jury Verdict",
                "No Type Specified",
                "Consent Judgment",
                "Judgment on Merits"
            ],
            "remedies": [
                "Default Judgment",
                "No Type Specified",
                "Judgment on Merits",
                "Consent Judgment"
            ],
            "findings": [
                "Default Judgment",
                "Summary Judgment",
                "Trial",
                "Judgment as a Matter of Law",
                "Judgment on the Pleadings",
                "No Type Specified",
                "Consent Judgment"
            ],
            "court": {
                "name": "All Federal District Courts",
                "type": "FederalDistrict"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "f95b29a0bff1759bbb71667f872217dc"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "damages": [
                {
                    "judgmentSource": {
                        "include": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/11426",
                    "districtCaseId": 11426
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000097589",
                    "districtCaseId": 2000097589
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/972",
                    "districtCaseId": 972
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5903",
                    "districtCaseId": 5903
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2002223010",
                    "districtCaseId": 2002223010
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "2f56fdca3cd76be26187deead232a898"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "damages": [
                {
                    "judgmentSource": {
                        "exclude": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/3704",
                    "districtCaseId": 3704
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000097589",
                    "districtCaseId": 2000097589
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5916",
                    "districtCaseId": 5916
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/16189",
                    "districtCaseId": 16189
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1",
                    "districtCaseId": 1
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "8d2a5de0f1f25759587a800183fab138;o=1"
        ],
        "responseIsBinary": false
    },
[...]
