[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-events/FederalDistrict",
        "body": "",
        "status": 200,
        "response": {
            "court": {
                "name": "All Federal District Courts",
                "type": "FederalDistrict"
            },
            "events": [
                "Markman Hearing",
                "Permanent Injuction",
                "Summary Judgment",
                "Dismiss (Contested)",
                "Filed",
                "Terminated"
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a90e7db7d8f0c48029d3ec9158f7efd3"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "exclude": [
                    "CERCLA"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "f187ef942a69ff6e1dbc1ac663ee51b6"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "events": {
                "include": [
                    "Dismiss (Contested)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/3707",
                    "districtCaseId": 3707
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/677",
                    "districtCaseId": 677
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/3704",
                    "districtCaseId": 3704
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/15984",
                    "districtCaseId": 15984
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "5ba5c1a7db1b30b431079f7f5b1ce05b"
        ],
        "responseIsBinary": false
    },
[...]
