[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "lawFirms": {
                "include": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005791105",
                    "appealsCaseId": 2005791105
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005985171",
                    "appealsCaseId": 2005985171
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005974301",
                    "appealsCaseId": 2005974301
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006034091",
                    "appealsCaseId": 2006034091
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006035731",
                    "appealsCaseId": 2006035731
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "2fa3dc18f04aa359a8ab466080af318e"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "lawFirms": {
                "exclude": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "6a7859563c95f8247fe6bbf5e77357c3"
        ],
        "responseIsBinary": false
    },
[...]
