[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "attorneys": {
                "include": [
                    54134214
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006009306",
                    "appealsCaseId": 2006009306
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006036798",
                    "appealsCaseId": 2006036798
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005957368",
                    "appealsCaseId": 2005957368
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005929122",
                    "appealsCaseId": 2005929122
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005939243",
                    "appealsCaseId": 2005939243
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "327725f8d4602ac75812ee78f8ae4771"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "attorneys": {
                "exclude": [
                    54134214
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "eabb8a50bd3a94107770d8db331dc3fe"
        ],
        "responseIsBinary": false
    },
[...]
