[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "attorneys": {
                "includePlaintiff": [
                    48517370
                ]
            },
            "courts": {
                "state": "NV"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940440",
                    "stateCaseId": 2003940440
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003941132",
                    "stateCaseId": 2003941132
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003943978",
                    "stateCaseId": 2003943978
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003944181",
                    "stateCaseId": 2003944181
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003944348",
                    "stateCaseId": 2003944348
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e51e904e2dca96a54aad04bb0216db73"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "attorneys": {
                "excludePlaintiff": [
                    48517370
                ]
            },
            "courts": {
                "state": "NV"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940414",
                    "stateCaseId": 2003940414
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003945132",
                    "stateCaseId": 2003945132
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940413",
                    "stateCaseId": 2003940413
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940417",
                    "stateCaseId": 2003940417
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940418",
                    "stateCaseId": 2003940418
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "705c8b106aadb9edfb8c27b534c8f617"
        ],
        "responseIsBinary": false
    },
[...]
