[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-damages/State",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "General Damages (Judgment on Merits)",
                "General Damages (Jury Verdict)",
                "Attorneys' Fees / Costs"
            ],
            "court": {
                "name": "All State Courts",
                "type": "State"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b57863c453600248585e085b71ec266e"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "courts": {
                "state": "CA"
            },
            "damages": [
                {
                    "name": {
                        "include": [
                            "Attorneys' Fees / Costs"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003503224",
                    "stateCaseId": 2003503224
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002651250",
                    "stateCaseId": 2002651250
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002651203",
                    "stateCaseId": 2002651203
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002651348",
                    "stateCaseId": 2002651348
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002651434",
                    "stateCaseId": 2002651434
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "bd3d66e55a4b0d17784f18df3f4d32f4;o=1"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "courts": {
                "state": "CA"
            },
            "damages": [
                {
                    "name": {
                        "exclude": [
                            "Attorneys' Fees / Costs"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003503224",
                    "stateCaseId": 2003503224
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002651250",
                    "stateCaseId": 2002651250
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002651302",
                    "stateCaseId": 2002651302
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2004707060",
                    "stateCaseId": 2004707060
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2004707078",
                    "stateCaseId": 2004707078
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "dfcb9ad41a686583cefb16dc0e44e34f"
        ],
        "responseIsBinary": false
    },
[...]
