[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "parties": {
                "includeThirdParty": [
                    344094
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005478766",
                    "stateCaseId": 2005478766
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005469038",
                    "stateCaseId": 2005469038
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005488231",
                    "stateCaseId": 2005488231
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005494846",
                    "stateCaseId": 2005494846
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005449997",
                    "stateCaseId": 2005449997
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "d38a588f2daf6a5ff7ceb8130e862317"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "parties": {
                "excludeThirdParty": [
                    344094
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005413379",
                    "stateCaseId": 2005413379
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005410926",
                    "stateCaseId": 2005410926
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005412253",
                    "stateCaseId": 2005412253
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005415669",
                    "stateCaseId": 2005415669
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005416750",
                    "stateCaseId": 2005416750
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b5c072f5f70b4f4053635015273f6ba1;o=1"
        ],
        "responseIsBinary": false
    },
[...]
