[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-events/State",
        "body": "",
        "status": 200,
        "response": {
            "judgmentEvents": [
                "Default Judgment",
                "Consent Judgment",
                "Bench Trial",
                "Jury Verdict",
                "Other Judgment"
            ],
            "court": {
                "name": "All State Courts",
                "type": "State"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "2203930acd9913f96c7b80bd9e720657"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "courts": {
                "state": "CA"
            },
            "rulings": [
                {
                    "judgmentEvent": {
                        "include": [
                            "Default Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2006289796",
                    "stateCaseId": 2006289796
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002823527",
                    "stateCaseId": 2002823527
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2006291859",
                    "stateCaseId": 2006291859
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003585557",
                    "stateCaseId": 2003585557
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2004707313",
                    "stateCaseId": 2004707313
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "579a4ee7a33864c823c98b167edb4da4"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "courts": {
                "state": "CA"
            },
            "rulings": [
                {
                    "judgmentEvent": {
                        "exclude": [
                            "Default Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2002769478",
                    "stateCaseId": 2002769478
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002769570",
                    "stateCaseId": 2002769570
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003503224",
                    "stateCaseId": 2003503224
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002651148",
                    "stateCaseId": 2002651148
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002651250",
                    "stateCaseId": 2002651250
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "9e5a6b7344c269d910a612ac05f30d53"
        ],
        "responseIsBinary": false
    },
[...]
