[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "lawFirms": {
                "includeAppellee": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005810779",
                    "appealsCaseId": 2005810779
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005839617",
                    "appealsCaseId": 2005839617
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005960427",
                    "appealsCaseId": 2005960427
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005808461",
                    "appealsCaseId": 2005808461
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005849756",
                    "appealsCaseId": 2005849756
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b5363339998a4c08c2235d444b334eb9"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "lawFirms": {
                "excludeAppellee": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "885e24a91e3e12badd89d5c6015ad7df"
        ],
        "responseIsBinary": false
    },
[...]
