[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "parties": {
                "includePetitionerMovant": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005394978",
                    "appealsCaseId": 2005394978
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006078112",
                    "appealsCaseId": 2006078112
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006034307",
                    "appealsCaseId": 2006034307
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005393535",
                    "appealsCaseId": 2005393535
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006022292",
                    "appealsCaseId": 2006022292
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "eb0933f1719ea2049cb983e6ef64467c"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "parties": {
                "excludePetitionerMovant": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a8e92ab5028fa9fd26907e96eed15b94"
        ],
        "responseIsBinary": false
    },
[...]
