[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/list-judgment-sources",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "Jury Verdict",
                "Judgment on Merits",
                "Consent Judgment",
                "Default Judgment",
                "No Type Specified"
            ],
            "remedies": [
                "Consent Judgment",
                "Default Judgment",
                "Judgment on Merits",
                "No Type Specified"
            ],
            "findings": [
                "Summary Judgment",
                "Judgment as a Matter of Law",
                "Judgment on the Pleadings",
                "Consent Judgment",
                "Trial",
                "Default Judgment",
                "No Type Specified"
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "49d3e55b6f97c93c21eaa540c30a1e5a",
            "Mon, 12 Sep 2022 21:06:29 GMT",
            "355",
            "c4e6ef07-c27f-4209-b38c-ed8469509bc8",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "findings": [
                {
                    "judgmentSource": {
                        "include": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                18965,
                11426,
                5826,
                18637,
                5985
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "0dbcdf84c62fcdff5522245683dfa670",
            "Mon, 12 Sep 2022 21:06:30 GMT",
            "41",
            "d8f582f6-e3ab-4da1-9829-b0dce09486d5",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "findings": [
                {
                    "judgmentSource": {
                        "exclude": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                3704,
                2000097589,
                5833,
                3774,
                5916
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "0ebbccec18162dacf12418ba2a0eb43c",
            "Mon, 12 Sep 2022 21:06:31 GMT",
            "44",
            "5830e705-c103-4fda-80e0-8785cc428ccc",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
