[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "cNmBxWm7e32RwyGgJKjSKeRbnzxsnRcC",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseStatus": "Open",
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2001578207",
                    "districtCaseId": 2001578207
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001656684",
                    "districtCaseId": 2001656684
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001591544",
                    "districtCaseId": 2001591544
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001650142",
                    "districtCaseId": 2001650142
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2004330625",
                    "districtCaseId": 2004330625
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "ddef126a9516a8f27f0c81b5d13e2b94;o=1"
        ],
        "responseIsBinary": false
    },
[...]
