[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-resolutions/FederalDistrict",
        "body": "",
        "status": 200,
        "response": {
            "court": {
                "name": "All Federal District Courts",
                "type": "FederalDistrict"
            },
            "caseResolutions": [
                {
                    "summary": "Claimant Win",
                    "specific": "Trial"
                },
                {
                    "summary": "Claimant Win",
                    "specific": "Judgment on the Pleadings"
                },
                {
                    "summary": "Claimant Win",
                    "specific": "Judgment as a Matter of Law"
                },
                {
                    "summary": "Claimant Win",
                    "specific": "Decision on Bankruptcy Appeal"
                },
                {
                [...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "exclude": [
                    "FLSA Collective Action"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "77edeaff2e416fd5298a642e4e680c0d"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "resolutions": {
                "include": [
                    {
                        "summary": "Claimant Win",
                        "specific": "Trial"
                    }
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/972",
                    "districtCaseId": 972
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2002092843",
                    "districtCaseId": 2002092843
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/3739",
                    "districtCaseId": 3739
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/23245",
                    "districtCaseId": 23245
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12195",
                    "districtCaseId": 12195
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "842a792bc2c844de22cd06a73580294a"
        ],
        "responseIsBinary": false
    },
[...]
