[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "judges": {
                "include": [
                    2267
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005596856",
                    "appealsCaseId": 2005596856
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005611534",
                    "appealsCaseId": 2005611534
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005620200",
                    "appealsCaseId": 2005620200
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005619132",
                    "appealsCaseId": 2005619132
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a17420085ab1ad4414eaeb9ba8ad8e2c;o=1"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "judges": {
                "exclude": [
                    2267
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624120",
                    "appealsCaseId": 2005624120
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "9710a1690bddd42a8f39b70afc9b6dde"
        ],
        "responseIsBinary": false
    },
[...]
