[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "iZXJhddepm0vjFq0PKQYIODIKfbHRWXD",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "caseStatus": "Open",
            "courts": {
                "state": "CA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2002825104",
                    "stateCaseId": 2002825104
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002784346",
                    "stateCaseId": 2002784346
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002792849",
                    "stateCaseId": 2002792849
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003503224",
                    "stateCaseId": 2003503224
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003517707",
                    "stateCaseId": 2003517707
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b9d01512d4a96edb70e8109e8333b60a"
        ],
        "responseIsBinary": false
    },
[...]
