[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "dates": {
                "filed": {
                    "onOrAfter": "2022-01-03",
                    "onOrBefore": "2023-01-03"
                }
            },
            "courts": {
                "state": "CA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2007631981",
                    "stateCaseId": 2007631981
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2007631982",
                    "stateCaseId": 2007631982
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2007631983",
                    "stateCaseId": 2007631983
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2007631984",
                    "stateCaseId": 2007631984
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2007631985",
                    "stateCaseId": 2007631985
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "ddec040ae84c009e7f26ed1e5fb1016f"
        ],
        "responseIsBinary": false
    }
]