[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "patentInvalidityReasons": {
                        "include": [
                            "Invalidity: 103 Obviousness"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2,
                3699,
                5803,
                16888,
                5956
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "f0f2b2beb8056fa99406f3e535ef011a"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "include": [
                    "Mass Tort: World Trade Center"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2001921618,
                2000335399,
                2000335400,
                2000335401,
                2000335402
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a610f045b81407792233037d315eb98a"
        ],
        "responseIsBinary": false
    },
[...]
