[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-types/FederalDistrict",
        "body": "",
        "status": 200,
        "response": [
            {
                "court": {
                    "name": "All Federal District Courts",
                    "type": "FederalDistrict"
                },
                "caseTypes": [
                    "Antitrust",
                    "Bankruptcy",
                    "Civil Rights",
                    "Class Action",
                    "Consumer Protection",
                    "Contracts",
                    "Copyright",
                    "ERISA",
                    "Employment",
                    "Environmental",
                    "False Claims",
                    "Insurance",
                    "Internet",
                    "Patent",
                    "Product Liability",
                    "Real Property",
                    "Securities",
                    "Surety Bond",
                    "Tax",
                    "Torts",
                    "Trade Secret",
                    "Trademark",
                    "Remaining Federal"
                ]
            }
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "9025be1d3240da73f4023aed34a1f978"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTypes": {
                "include": [
                    "Antitrust"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2000308534",
                    "districtCaseId": 2000308534
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000308535",
                    "districtCaseId": 2000308535
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000308536",
                    "districtCaseId": 2000308536
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000308537",
                    "districtCaseId": 2000308537
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000308529",
                    "districtCaseId": 2000308529
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "7c6c71b30d3e139c51cc34c6f07d100b"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTypes": {
                "exclude": [
                    "Antitrust"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "6d4825440ebbd00ae13df01afb4563f6"
        ],
        "responseIsBinary": false
    },
[...]
