[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "lawFirms": {
                "includeThirdParty": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/3700",
                    "districtCaseId": 3700
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000094352",
                    "districtCaseId": 2000094352
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/48331",
                    "districtCaseId": 48331
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000005038",
                    "districtCaseId": 1000005038
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/3929",
                    "districtCaseId": 3929
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "ba2cb48c7fc930b219fabeaf0bc197bc"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "lawFirms": {
                "excludeThirdParty": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "6ce197aa78e1ba8fc0775074a474b3c2"
        ],
        "responseIsBinary": false
    },
[...]
