[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-events/State",
        "body": "",
        "status": 200,
        "response": {
            "judgmentEvents": [
                "Default Judgment",
                "Consent Judgment",
                "Bench Trial",
                "Jury Verdict",
                "Other Judgment"
            ],
            "court": {
                "name": "All State Courts",
                "type": "State"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b7fb9f47c602d7d608f830094f2ed087"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "courts": {
                "state": "CA"
            },
            "rulings": [
                {
                    "judgmentEvent": {
                        "include": [
                            "Default Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2006289796",
                    "stateCaseId": 2006289796
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002823527",
                    "stateCaseId": 2002823527
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2006291859",
                    "stateCaseId": 2006291859
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003585557",
                    "stateCaseId": 2003585557
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2004707313",
                    "stateCaseId": 2004707313
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "678e0eb79063869585c1aa57efb1f3e8"
        ],
        "responseIsBinary": false
    },
[...]
