[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "caseStatus": "Open",
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2001578207,
                2001656684,
                2001591544,
                2001650142,
                2004330625
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "a812a502de458cd62bad6564b823702d",
            "Mon, 12 Sep 2022 22:06:40 GMT",
            "68",
            "9871c2a1-0030-45ed-94dc-56dd8f49ef57",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
