[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "awardedToParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/7170",
                    "districtCaseId": 7170
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/6528",
                    "districtCaseId": 6528
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/7371",
                    "districtCaseId": 7371
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/7370",
                    "districtCaseId": 7370
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/8946",
                    "districtCaseId": 8946
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "66e55360ee691373d927ed1ce960a988"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "awardedAgainstParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/7170",
                    "districtCaseId": 7170
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000001413",
                    "districtCaseId": 2000001413
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000003263",
                    "districtCaseId": 2000003263
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000003844",
                    "districtCaseId": 2000003844
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000005959",
                    "districtCaseId": 2000005959
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "4eaa3dfc3ebdfad5c0244a9e067ee914"
        ],
        "responseIsBinary": false
    },
[...]
