[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "magistrates": {
                "include": [
                    141
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                16197,
                16203,
                16180,
                16125,
                16455
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "4146a531a685aad978cea30bf06bf7f0"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTags": {
                "exclude": [
                    "Appealed"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "d536fd0fd6b9de7abbad68df5595de8f"
        ],
        "responseIsBinary": false
    },
[...]
