[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "courts": {
                "state": "CA"
            },
            "damages": [
                {
                    "date": {
                        "onOrAfter": "2020-01-01",
                        "onOrBefore": "2022-01-01"
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003760201",
                    "stateCaseId": 2003760201
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2006293032",
                    "stateCaseId": 2006293032
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002652743",
                    "stateCaseId": 2002652743
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2006293161",
                    "stateCaseId": 2006293161
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2004709002",
                    "stateCaseId": 2004709002
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "3ca9adf322123821c0489e0b9b956f4a"
        ],
        "responseIsBinary": false
    }
]