[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "parties": {
                "includeDefendant": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2000013775",
                    "districtCaseId": 2000013775
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000950",
                    "districtCaseId": 1000000950
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000021246",
                    "districtCaseId": 2000021246
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000004289",
                    "districtCaseId": 2000004289
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000979",
                    "districtCaseId": 1000000979
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "309b5929f15d9e066a03d24e8a09d884"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "parties": {
                "excludeDefendant": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "8a1b3dff23100222772c0aa94456a788"
        ],
        "responseIsBinary": false
    },
[...]
