[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "dates": {
                "filed": {
                    "onOrAfter": "2022-01-01",
                    "onOrBefore": "2022-01-01"
                }
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 100
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2007625272",
                    "districtCaseId": 2007625272
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2007625273",
                    "districtCaseId": 2007625273
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2007631031",
                    "districtCaseId": 2007631031
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2007631032",
                    "districtC[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "dates": {
                "filed": {
                    "onOrAfter": "2022-01-01",
                    "onOrBefore": "2022-01-01"
                }
            },
            "ordering": "ByFirstFiled",
            "page": 2,
            "pageSize": 100
        },
        "status": 200,
        "response": {
            "cases": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "fd416701f938359ea8760025e7517928"
        ],
        "responseIsBinary": false
    }
]