[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "parties": {
                "include": [
                    54101417
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005478766",
                    "stateCaseId": 2005478766
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005426448",
                    "stateCaseId": 2005426448
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "cd062f41a7dfeeefe52663fe41185e7b"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "parties": {
                "exclude": [
                    54101417
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005413379",
                    "stateCaseId": 2005413379
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005410926",
                    "stateCaseId": 2005410926
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005412253",
                    "stateCaseId": 2005412253
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005415669",
                    "stateCaseId": 2005415669
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005416750",
                    "stateCaseId": 2005416750
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "24213ec571413a37b28632f5b9f32e1b"
        ],
        "responseIsBinary": false
    },
[...]
