[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-sources/FederalDistrict",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "Default Judgment",
                "Jury Verdict",
                "No Type Specified",
                "Consent Judgment",
                "Judgment on Merits"
            ],
            "remedies": [
                "Default Judgment",
                "No Type Specified",
                "Judgment on Merits",
                "Consent Judgment"
            ],
            "findings": [
                "Default Judgment",
                "Summary Judgment",
                "Trial",
                "Judgment as a Matter of Law",
                "Judgment on the Pleadings",
                "No Type Specified",
                "Consent Judgment"
            ],
            "court": {
                "name": "All Federal District Courts",
                "type": "FederalDistrict"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "6f5ba63a56c510a46bd54e226b415284"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "remedies": [
                {
                    "judgmentSource": {
                        "include": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000126",
                    "districtCaseId": 1000000126
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/9789",
                    "districtCaseId": 9789
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/18965",
                    "districtCaseId": 18965
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/11426",
                    "districtCaseId": 11426
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/3704",
                    "districtCaseId": 3704
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "bf67f7a8a6a98d6d9c444dad4a1ead56"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "remedies": [
                {
                    "judgmentSource": {
                        "exclude": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/9789",
                    "districtCaseId": 9789
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000097589",
                    "districtCaseId": 2000097589
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5916",
                    "districtCaseId": 5916
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/17109",
                    "districtCaseId": 17109
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/23242",
                    "districtCaseId": 23242
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "724a3c52ad74a6ff84f0fa697807bcd7"
        ],
        "responseIsBinary": false
    },
[...]
