[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/list-case-resolutions",
        "body": "",
        "status": 200,
        "response": [
            {
                "summary": "Claim Defendant Win",
                "specific": "Default Judgment"
            },
            {
                "summary": "Claimant Win",
                "specific": "Trial"
            },
            {
                "summary": "Likely Settlement",
                "specific": "Likely Settlement"
            },
            {
                "summary": "Claim Defendant Win",
                "specific": "Judgment as a Matter of Law"
            },
            {
                "summary": "Procedural",
                "specific": "Multidistri[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "resolutions": {
                "include": [
                    {
                        "summary": "Claim Defendant Win",
                        "specific": "Default Judgment"
                    }
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                13896,
                3887,
                6401,
                12624,
                18150
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "ad2a2330b836f51b48216650075b66a3",
            "Tue, 13 Sep 2022 19:13:29 GMT",
            "41",
            "4df4d8ff-8581-4cbb-b18d-6ba2d937baf0",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "resolutions": {
                "exclude": [
                    {
                        "summary": "Claim Defendant Win",
                        "specific": "Default Judgment"
                    }
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "dad8f66eef0fd85379d91b2dc496e6e4",
            "Tue, 13 Sep 2022 19:13:46 GMT",
            "39",
            "0e85a2fe-6749-4649-8953-8fb7af857337",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
