[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/list-judgment-sources",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "Judgment on Merits",
                "Consent Judgment",
                "Default Judgment",
                "No Type Specified",
                "Jury Verdict"
            ],
            "remedies": [
                "Default Judgment",
                "No Type Specified",
                "Judgment on Merits",
                "Consent Judgment"
            ],
            "findings": [
                "Judgment on the Pleadings",
                "Judgment as a Matter of Law",
                "Trial",
                "Summary Judgment",
                "Consent Judgment",
                "Default Judgment",
                "No Type Specified"
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "c5d0dde764597281c19cefb3279514ca",
            "Tue, 13 Sep 2022 17:38:56 GMT",
            "355",
            "a1a4bfa0-6b8f-4ff1-af67-ba8471ecb479",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "damages": [
                {
                    "judgmentSource": {
                        "include": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                11426,
                2000097589,
                972,
                5903,
                2002223010
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "7f87b935777d9e8f26f189872c029bb7",
            "Tue, 13 Sep 2022 17:38:56 GMT",
            "50",
            "283a05ea-1237-4721-97ac-e0d821b41750",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "damages": [
                {
                    "judgmentSource": {
                        "exclude": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                3704,
                2000097589,
                5916,
                16189,
                1
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "62c574a3a1cc8daac4d48de2e58a2c28",
            "Tue, 13 Sep 2022 17:38:58 GMT",
            "42",
            "4349ceb1-1f57-4f44-b1db-5c17fb067dd8",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
