[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "parties": {
                "includePlaintiff": [
                    47445087
                ]
            },
            "courts": {
                "state": "NV"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940440",
                    "stateCaseId": 2003940440
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "08019c90b36bcc7e8c340b0557fcc0bc"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "parties": {
                "excludePlaintiff": [
                    47445087
                ]
            },
            "courts": {
                "state": "NV"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940414",
                    "stateCaseId": 2003940414
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003945132",
                    "stateCaseId": 2003945132
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940413",
                    "stateCaseId": 2003940413
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940417",
                    "stateCaseId": 2003940417
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940418",
                    "stateCaseId": 2003940418
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "c4946e823f7016f7cdf9185b1f80d7a1"
        ],
        "responseIsBinary": false
    },
[...]
