[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-courts/State",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "Los Angeles County Superior Court",
                "type": "State",
                "state": "CA"
            },
            {
                "name": "Sacramento County Superior Court",
                "type": "State",
                "state": "CA"
            },
            {
                "name": "San Bernardino County Superior Court",
                "type": "State",
                "state": "CA"
            },
            {
                "name": "Riverside County Superior Court",
                "type": "State",
                "state": "CA"
            },
            {
      [...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "courts": {
                "state": "CA",
                "include": [
                    "Los Angeles County Superior Court"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2002814596",
                    "stateCaseId": 2002814596
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002814597",
                    "stateCaseId": 2002814597
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002814599",
                    "stateCaseId": 2002814599
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002814603",
                    "stateCaseId": 2002814603
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002825104",
                    "stateCaseId": 2002825104
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "6ba1310035172c7ce57c7071a0f0dd9e"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "courts": {
                "state": "CA",
                "exclude": [
                    "Los Angeles County Superior Court"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003475179",
                    "stateCaseId": 2003475179
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003480227",
                    "stateCaseId": 2003480227
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003483683",
                    "stateCaseId": 2003483683
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003493838",
                    "stateCaseId": 2003493838
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003498630",
                    "stateCaseId": 2003498630
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "45f2ce6c34ff7b671b7ffa7bb0734341"
        ],
        "responseIsBinary": false
    },
[...]
