[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-judgment-sources/FederalDistrict",
        "body": "",
        "status": 200,
        "response": {
            "damages": [
                "Default Judgment",
                "Jury Verdict",
                "No Type Specified",
                "Consent Judgment",
                "Judgment on Merits"
            ],
            "remedies": [
                "Default Judgment",
                "No Type Specified",
                "Judgment on Merits",
                "Consent Judgment"
            ],
            "findings": [
                "Default Judgment",
                "Summary Judgment",
                "Trial",
                "Judgment as a Matter of Law",
                "Judgment on the Pleadings",
                "No Type Specified",
                "Consent Judgment"
            ],
            "court": {
                "name": "All Federal District Courts",
                "type": "FederalDistrict"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "7e669846d699808faf78a791ccd8c453"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "judgmentSource": {
                        "include": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/18965",
                    "districtCaseId": 18965
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/11426",
                    "districtCaseId": 11426
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5826",
                    "districtCaseId": 5826
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/18637",
                    "districtCaseId": 18637
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5985",
                    "districtCaseId": 5985
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "3dd444054a36ae2aa65ed3777479d93c"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "judgmentSource": {
                        "exclude": [
                            "Consent Judgment"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/3704",
                    "districtCaseId": 3704
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000097589",
                    "districtCaseId": 2000097589
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5833",
                    "districtCaseId": 5833
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/3774",
                    "districtCaseId": 3774
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5916",
                    "districtCaseId": 5916
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b1f2e14e5be6d6485cad100a88197238"
        ],
        "responseIsBinary": false
    },
[...]
