[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "magistrates": {
                "include": [
                    141
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/16197",
                    "districtCaseId": 16197
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/16203",
                    "districtCaseId": 16203
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/16180",
                    "districtCaseId": 16180
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/16125",
                    "districtCaseId": 16125
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/16455",
                    "districtCaseId": 16455
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "5fac265fe4e52c5dc062fd4831a25078"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "magistrates": {
                "exclude": [
                    141
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "bf51f5cfcd173fa197bf382f42d351cb"
        ],
        "responseIsBinary": false
    },
[...]
