[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-resolutions/FederalDistrict",
        "body": "",
        "status": 200,
        "response": {
            "court": {
                "name": "All Federal District Courts",
                "type": "FederalDistrict"
            },
            "caseResolutions": [
                {
                    "summary": "Claimant Win",
                    "specific": "Default Judgment"
                },
                {
                    "summary": "Claimant Win",
                    "specific": "Summary Judgment"
                },
                {
                    "summary": "Claimant Win",
                    "specific": "Judgment as a Matter of Law"
                },
                {
                    "summary": "Claimant Win",
                    "specific": "Trial"
                },
                {
                    "summary": "Claima[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "resolutions": {
                "include": [
                    {
                        "summary": "Claimant Win",
                        "specific": "Default Judgment"
                    }
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/5916",
                    "districtCaseId": 5916
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5788",
                    "districtCaseId": 5788
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/14103",
                    "districtCaseId": 14103
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/15627",
                    "districtCaseId": 15627
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/15969",
                    "districtCaseId": 15969
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a73a98358810da8b78e19615f22fa1f7"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "resolutions": {
                "exclude": [
                    {
                        "summary": "Claimant Win",
                        "specific": "Default Judgment"
                    }
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b59616f20d6c56dbba7b0b13477445a4"
        ],
        "responseIsBinary": false
    },
[...]
