[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "parties": {
                "include": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005670866",
                    "appealsCaseId": 2005670866
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005961159",
                    "appealsCaseId": 2005961159
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005679033",
                    "appealsCaseId": 2005679033
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005670113",
                    "appealsCaseId": 2005670113
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005668667",
                    "appealsCaseId": 2005668667
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "00ae43d28f7e66f0440bacef0eb742d5"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "parties": {
                "exclude": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "8a8e3f88ebb9186d9f02a627fcefe135"
        ],
        "responseIsBinary": false
    },
[...]
