[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "findings": [
                {
                    "date": {
                        "onOrAfter": "2010-01-01",
                        "onOrBefore": "2011-01-01"
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/2006506298",
                    "districtCaseId": 2006506298
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000707601",
                    "districtCaseId": 2000707601
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2000707734",
                    "districtCaseId": 2000707734
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001826309",
                    "districtCaseId": 2001826309
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/2001863729",
                    "districtCaseId": 2001863729
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e6717e7185ff8c2a7d795cd3092fd0ad"
        ],
        "responseIsBinary": false
    }
]