[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "lawFirms": {
                "includeAppellant": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005985171",
                    "appealsCaseId": 2005985171
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006058796",
                    "appealsCaseId": 2006058796
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006012006",
                    "appealsCaseId": 2006012006
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006075580",
                    "appealsCaseId": 2006075580
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005392429",
                    "appealsCaseId": 2005392429
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "50c5e032caec907fda03f587aabe51c7"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "lawFirms": {
                "excludeAppellant": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "6751fc66ef1420c03a8ec0c4b50bec6a"
        ],
        "responseIsBinary": false
    },
[...]
