[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "damages": [
                {
                    "awardedToParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                13948,
                25330,
                96386,
                2000000368,
                2000023546
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "7826c57894e6e04d52673dd66a52c731",
            "Tue, 13 Sep 2022 17:36:30 GMT",
            "53",
            "5dd2bccc-874b-4612-8b00-9d6a14ee0633",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "damages": [
                {
                    "awardedAgainstParties": [
                        1334
                    ]
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2001796540,
                2001809666,
                2000657835,
                2001791039,
                2001795716
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "9ffe0029ef7fb54286ef3ac10df563e4",
            "Tue, 13 Sep 2022 17:36:32 GMT",
            "68",
            "d90cafe6-356d-41c1-9851-255f7d24be82",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
