[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "attorneys": {
                "includeThirdParty": [
                    18589436
                ]
            },
            "courts": {
                "state": "NV"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940426",
                    "stateCaseId": 2003940426
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003961115",
                    "stateCaseId": 2003961115
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2004013842",
                    "stateCaseId": 2004013842
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2006111339",
                    "stateCaseId": 2006111339
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2006111342",
                    "stateCaseId": 2006111342
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "d9578e94980fa82eb3b01938ff7c1efe"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "attorneys": {
                "excludeThirdParty": [
                    18589436
                ]
            },
            "courts": {
                "state": "NV"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940414",
                    "stateCaseId": 2003940414
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003945132",
                    "stateCaseId": 2003945132
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940413",
                    "stateCaseId": 2003940413
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940417",
                    "stateCaseId": 2003940417
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003940418",
                    "stateCaseId": 2003940418
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "5bf86f15becb80ef3b6edaed2d9b2f4b"
        ],
        "responseIsBinary": false
    },
[...]
