[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "XbIfKP58c0nxgSNTB00tUHPUaLBfmZbA",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-types/FederalAppeals",
        "body": "",
        "status": 200,
        "response": [
            {
                "court": {
                    "name": "All Federal Appeals Courts",
                    "type": "FederalAppeals"
                },
                "caseTypes": [
                    "Antitrust",
                    "Bankruptcy",
                    "Civil Rights",
                    "Class Action",
                    "Consumer Protection",
                    "Contracts",
                    "Copyright",
                    "ERISA",
                    "Employment",
                    "Environmental",
                    "False Claims",
                    "Insurance",
                    "Internet",
                    "Patent",
                    "Product Liability",
                    "Real Property",
                    "Securities",
                    "Surety Bond",
                    "Tax",
                    "Torts",
                    "Trade Secret",
                    "Trademark",
                    "Remaining Federal"
                ]
            }
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "4c65d4f66babb02bb4a798f97d07b2ed;o=1"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "originatingCases": {
                "originatingDistrictCaseCriteria": {
                    "caseTypes": {
                        "include": [
                            "Antitrust"
                        ]
                    }
                }
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006027488",
                    "appealsCaseId": 2006027488
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005896390",
                    "appealsCaseId": 2005896390
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005936969",
                    "appealsCaseId": 2005936969
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005670675",
                    "appealsCaseId": 2005670675
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005671655",
                    "appealsCaseId": 2005671655
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "ff4a6f659a5f1935b4028925cf82f2c4"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "originatingCases": {
                "originatingDistrictCaseCriteria": {
                    "caseTypes": {
                        "exclude": [
                            "Antitrust"
                        ]
                    }
                }
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624120",
                    "appealsCaseId": 2005624120
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624121",
                    "appealsCaseId": 2005624121
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624122",
                    "appealsCaseId": 2005624122
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "776e1b9feb446f1d75c7535e3a1aa82a"
        ],
        "responseIsBinary": false
    },
[...]
