[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "parties": {
                "includeDefendant": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2000013775,
                1000000950,
                2000021246,
                2000004289,
                1000000979
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "10ed5181188b2ef40e1ee59835d3360a",
            "Tue, 13 Sep 2022 18:32:08 GMT",
            "68",
            "af4c283c-ab7c-4d4d-9eef-46cf3082efc1",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "parties": {
                "excludeDefendant": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "d0101468c19ea50bfff8fc355a859213",
            "Tue, 13 Sep 2022 18:32:09 GMT",
            "39",
            "145e2f5b-5c48-439b-ac3b-3697a400a63b",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
