[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "remedies": [
                {
                    "date": {
                        "onOrAfter": "2010-01-01",
                        "onOrBefore": "2011-01-01"
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2002223010,
                2000094352,
                2000114354,
                2001809882,
                2000095674
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "49e10925eabd9fb8963f4441b1f03449",
            "Tue, 13 Sep 2022 17:27:04 GMT",
            "68",
            "346ea968-6376-42eb-a1c9-d48bc25baab3",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]