[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "attorneys": {
                "includeThirdParty": [
                    57093
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006019447",
                    "appealsCaseId": 2006019447
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005642563",
                    "appealsCaseId": 2005642563
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2007930947",
                    "appealsCaseId": 2007930947
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2008202073",
                    "appealsCaseId": 2008202073
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2008202074",
                    "appealsCaseId": 2008202074
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "6091cd7b9c09e4e642bb8fd3e0f80671;o=1"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "attorneys": {
                "excludeThirdParty": [
                    57093
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "1e0a801812d450f134681fb2cdc81216"
        ],
        "responseIsBinary": false
    },
[...]
