[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "parties": {
                "includeRespondent": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005679033",
                    "appealsCaseId": 2005679033
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005395230",
                    "appealsCaseId": 2005395230
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005395380",
                    "appealsCaseId": 2005395380
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005823598",
                    "appealsCaseId": 2005823598
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005855366",
                    "appealsCaseId": 2005855366
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "d933770e70aeafd20276c416fae54e42"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "parties": {
                "excludeRespondent": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e62fae884816fa35b88252115105aaa7"
        ],
        "responseIsBinary": false
    },
[...]
