[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-resolutions/State",
        "body": "",
        "status": 200,
        "response": {
            "court": {
                "name": "All State Courts",
                "type": "State"
            },
            "caseResolutions": [
                {
                    "summary": "Plaintiff Win",
                    "specific": "Bench Trial"
                },
                {
                    "summary": "Plaintiff Win",
                    "specific": "Consent Judgment"
                },
                {
                    "summary": "Plaintiff Win",
                    "specific": "Jury Verdict"
                },
                {
                    "summary": "Plaintiff Win",
                    "specific": "Other Judgment"
                },
                {
                    "summary": "Plaintiff Win"[...]
