[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "parties": {
                "includeThirdParty": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000685",
                    "districtCaseId": 1000000685
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000692",
                    "districtCaseId": 1000000692
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000949",
                    "districtCaseId": 1000000949
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000608",
                    "districtCaseId": 1000000608
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/82749",
                    "districtCaseId": 82749
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "bf96538c70d56196f06739bca7f1af29"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "parties": {
                "excludeThirdParty": [
                    2273
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b186087fcaf4909c753085e272ff8544"
        ],
        "responseIsBinary": false
    },
[...]
