[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-resolutions/FederalAppeals",
        "body": "",
        "status": 200,
        "response": {
            "court": {
                "name": "All Federal Appeals Courts",
                "type": "FederalAppeals"
            },
            "caseResolutions": [
                {
                    "summary": "Appellee Win",
                    "specific": "Affirmed"
                },
                {
                    "summary": "Appellant Win",
                    "specific": "Affirmed / Reversed in Part"
                },
                {
                    "summary": "Appellant Win",
                    "specific": "Reversed"
                },
                {
                    "summary": "Appellant Win",
                    "specific": "Appealability Granted"
                },
                {
                    "summary": "App[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "resolutions": {
                "include": [
                    {
                        "summary": "Appellee Win",
                        "specific": "Affirmed"
                    }
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624120",
                    "appealsCaseId": 2005624120
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624121",
                    "appealsCaseId": 2005624121
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624122",
                    "appealsCaseId": 2005624122
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624123",
                    "appealsCaseId": 2005624123
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624124",
                    "appealsCaseId": 2005624124
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "569d4d567443c0244eb21d62b181e768"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "resolutions": {
                "exclude": [
                    {
                        "summary": "Appellee Win",
                        "specific": "Affirmed"
                    }
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a6424fcbbfbbe80f64460097f17e6ac5"
        ],
        "responseIsBinary": false
    },
[...]
