[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-courts/FederalAppeals",
        "body": "",
        "status": 200,
        "response": [
            {
                "name": "U.S. Court of Appeals for the First Circuit",
                "type": "FederalAppeals",
                "shortName": "1st Cir.",
                "abbreviation": "ca1"
            },
            {
                "name": "U.S. Court of Appeals for the Tenth Circuit",
                "type": "FederalAppeals",
                "shortName": "10th Cir.",
                "abbreviation": "ca10"
            },
            {
                "name": "U.S. Court of Appeals for the Eleventh Circuit",
                "type": "FederalAppeals",
                "shortName": "11th Cir.",
                "abbreviation": "ca11"
            },
            {
               [...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "courts": {
                "include": [
                    "1st Cir."
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005578387",
                    "appealsCaseId": 2005578387
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005579313",
                    "appealsCaseId": 2005579313
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005581211",
                    "appealsCaseId": 2005581211
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "eac28801e68f6320b694b59efc4141de"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "courts": {
                "exclude": [
                    "1st Cir."
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624120",
                    "appealsCaseId": 2005624120
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624121",
                    "appealsCaseId": 2005624121
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "ece75a905ad2e771a9df2d99e698e3a4"
        ],
        "responseIsBinary": false
    },
[...]
