[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "attorneys": {
                "include": [
                    112259428
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005478766",
                    "stateCaseId": 2005478766
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005426448",
                    "stateCaseId": 2005426448
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005408925",
                    "stateCaseId": 2005408925
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005419443",
                    "stateCaseId": 2005419443
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005493713",
                    "stateCaseId": 2005493713
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "039ffd936c7fb0d2adcdecf11486785b"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "attorneys": {
                "exclude": [
                    112259428
                ]
            },
            "courts": {
                "state": "WA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2005413379",
                    "stateCaseId": 2005413379
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005410926",
                    "stateCaseId": 2005410926
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005412253",
                    "stateCaseId": 2005412253
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005415669",
                    "stateCaseId": 2005415669
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2005416750",
                    "stateCaseId": 2005416750
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a8edd93b99be8257cad59aa4193c8871"
        ],
        "responseIsBinary": false
    },
[...]
