[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-events/FederalDistrict",
        "body": "",
        "status": 200,
        "response": {
            "court": {
                "name": "All Federal District Courts",
                "type": "FederalDistrict"
            },
            "events": [
                "Markman Hearing",
                "Permanent Injuction",
                "Summary Judgment",
                "Dismiss (Contested)",
                "Filed",
                "Terminated"
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "9dbfdd6172a5130a1067045b2a82db11"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "events": {
                "include": [
                    "Dismiss (Contested)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/12323",
                    "districtCaseId": 12323
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/3707",
                    "districtCaseId": 3707
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/677",
                    "districtCaseId": 677
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/3704",
                    "districtCaseId": 3704
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/15984",
                    "districtCaseId": 15984
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e39d05339d1d05e758687a7488c0218b"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "events": {
                "exclude": [
                    "Dismiss (Contested)"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/district-cases/966",
                    "districtCaseId": 966
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5791",
                    "districtCaseId": 5791
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/5937",
                    "districtCaseId": 5937
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/13213",
                    "districtCaseId": 13213
                },
                {
                    "url": "https://api.lexmachina.com/district-cases/1000000126",
                    "districtCaseId": 1000000126
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "a467ac8d346ce60649ed0c7e12cbb1dd"
        ],
        "responseIsBinary": false
    },
[...]
