[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/beta/query-district-cases",
        "body": {
            "findings": [
                {
                    "patentInvalidityReasons": {
                        "include": [
                            "Invalidity: 103 Obviousness"
                        ]
                    }
                }
            ],
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2,
                3699,
                5803,
                16888,
                5956
            ]
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "d45d379dcceefaa4e95aa877c33317cc",
            "Mon, 12 Sep 2022 21:06:36 GMT",
            "36",
            "f29045b0-28d8-43c9-a5dc-a23a0e1e3e55",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
[...]
