[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/list-events/State",
        "body": "",
        "status": 200,
        "response": {
            "court": {
                "name": "All State Courts",
                "type": "State"
            },
            "events": [
                "Filed",
                "Trial",
                "Terminated"
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "b6567968973b906bb8ade63d3801d552"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "events": {
                "include": [
                    "Filed"
                ]
            },
            "courts": {
                "state": "CA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2002814596",
                    "stateCaseId": 2002814596
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002814597",
                    "stateCaseId": 2002814597
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002814599",
                    "stateCaseId": 2002814599
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002814603",
                    "stateCaseId": 2002814603
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002825104",
                    "stateCaseId": 2002825104
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "ac0cee62254c47a3926e475b4e555cba;o=1"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-state-cases",
        "body": {
            "events": {
                "exclude": [
                    "Terminated"
                ]
            },
            "courts": {
                "state": "CA"
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/state-cases/2002825104",
                    "stateCaseId": 2002825104
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002784346",
                    "stateCaseId": 2002784346
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2002792849",
                    "stateCaseId": 2002792849
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003503224",
                    "stateCaseId": 2003503224
                },
                {
                    "url": "https://api.lexmachina.com/state-cases/2003517707",
                    "stateCaseId": 2003517707
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "bb224601d0a117b681c5f490dfd5ffa6"
        ],
        "responseIsBinary": false
    },
[...]
