[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "lawFirms": {
                "includePetitionerMovant": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006034091",
                    "appealsCaseId": 2006034091
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006035731",
                    "appealsCaseId": 2006035731
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005971534",
                    "appealsCaseId": 2005971534
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005972420",
                    "appealsCaseId": 2005972420
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2006004517",
                    "appealsCaseId": 2006004517
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "3e879740dfb78d25013da5bf2f1d5ff2"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "lawFirms": {
                "excludePetitionerMovant": [
                    920
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "bfedacab64b3b2137bba3bf94feebd7b"
        ],
        "responseIsBinary": false
    },
[...]
