[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "attorneys": {
                "includeRespondent": [
                    109509341
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005846117",
                    "appealsCaseId": 2005846117
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005848532",
                    "appealsCaseId": 2005848532
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005789122",
                    "appealsCaseId": 2005789122
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005885647",
                    "appealsCaseId": 2005885647
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005823580",
                    "appealsCaseId": 2005823580
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "03a8d820a30df2400fd7718c972692e6"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/query-appeals-cases",
        "body": {
            "attorneys": {
                "excludeRespondent": [
                    109509341
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "cases": [
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005594843",
                    "appealsCaseId": 2005594843
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005612712",
                    "appealsCaseId": 2005612712
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624019",
                    "appealsCaseId": 2005624019
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624118",
                    "appealsCaseId": 2005624118
                },
                {
                    "url": "https://api.lexmachina.com/appeals-cases/2005624119",
                    "appealsCaseId": 2005624119
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "0cf4c2a6a51e32c9ea2be32ea27b828c"
        ],
        "responseIsBinary": false
    },
[...]
