[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/list-case-types",
        "body": "",
        "status": 200,
        "response": [
            "Antitrust",
            "Bankruptcy",
            "Civil Rights",
            "Consumer Protection",
            "Contracts",
            "Copyright",
            "ERISA",
            "Employment",
            "Environmental",
            "False Claims",
            "Insurance",
            "Internet",
            "Patent",
            "Product Liability",
            "Real Property",
            "Securities",
            "Surety Bond",
            "Tax",
            "Torts",
            "Trade Secret",
            "Trademark",
            "Remaining Federal"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "ce84b4cf6e9a1845220d031547ffe24d;o=1"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTypes": {
                "include": [
                    "Antitrust"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                2000308534,
                2000308535,
                2000308536,
                2000308537,
                2000308529
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "ec3d3b50522eca37705c5025e0973a05"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/query-district-cases",
        "body": {
            "caseTypes": {
                "exclude": [
                    "Antitrust"
                ]
            },
            "ordering": "ByFirstFiled",
            "page": 1,
            "pageSize": 5
        },
        "status": 200,
        "response": {
            "caseIds": [
                966,
                5791,
                5937,
                12323,
                13213
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "e6f3d9ee82a4b57a0bd440fb3793f563"
        ],
        "responseIsBinary": false
    },
[...]
