[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "saMbWkWFeA911c2KFsQkbIAGQEBw",
            "issued_at": 1658502970375,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "b84d2b69-14e8-45b7-9927-d2c2433187ad",
            "157",
            "Fri, 22 Jul 2022 15:16:10 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/alpha/resolve-parties?party_ids=216320&party_ids=196852&party_ids=56391",
        "body": "",
        "status": 200,
        "response": [
            {
                "InputId": 216320,
                "Party": {
                    "Name": "Neil Gaiman",
                    "PartyId": 216320
                }
            },
            {
                "InputId": 196852,
                "Party": {
                    "Name": "Todd McFarlane",
                    "PartyId": 196852
                }
            },
            {
                "InputId": 56391,
                "Party": {
                    "Name": "Stan Lee",
                    "PartyId": 56391
                }
            }
        ],
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "b8dfb8966a90d3384e5fa48204ce61de",
            "Fri, 22 Jul 2022 17:40:03 GMT",
            "200",
            "2b972222-3c8a-4076-ae73-13eabbf0b2c6",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]