[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "JQb9ezWueYYOOtd1x9sgqz2x2ywa",
            "issued_at": 1658508433917,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "1e35afb0-be40-4c93-ac27-df5664d8191c",
            "157",
            "Fri, 22 Jul 2022 16:47:13 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/alpha/resolve-law-firms?law_firm_ids=1368&law_firm_ids=920&law_firm_ids=101693204",
        "body": "",
        "status": 200,
        "response": [
            {
                "InputId": 1368,
                "LawFirm": {
                    "Name": "Perkins Coie",
                    "LawFirmId": 1368
                }
            },
            {
                "InputId": 920,
                "LawFirm": {
                    "Name": "Quinn Emanuel Urquhart & Sullivan",
                    "LawFirmId": 920
                }
            },
            {
                "InputId": 101693204,
                "LawFirm": {
                    "Name": "Sligh Law Firm",
                    "LawFirmId": 101693204
                }
            }
        ],
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "d69212ec28d2a8fecd13f1b18072701c",
            "Fri, 22 Jul 2022 16:48:14 GMT",
            "236",
            "fd89e158-0889-4371-acc4-34195b67ba3e",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]