[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "expires_in": 3600,
            "access_token": "UqikjXBmkZEQ8Rfhxou3kxWpsYjXNVVm",
            "token_type": "bearer"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/search-parties?q=gaiman&pageSize=500&pageNumber=1",
        "body": "",
        "status": 200,
        "response": {
            "totalCount": 6,
            "page": 1,
            "nextPage": null,
            "parties": [
                {
                    "name": "Neil Gaiman",
                    "partyId": 216320,
                    "url": "https://api.lexmachina.com/parties/216320"
                },
                {
                    "name": "Michael Gaiman",
                    "partyId": 223143,
                    "url": "https://api.lexmachina.com/parties/223143"
                },
                {
                    "name": "Jacqueline Gaiman",
                    "partyId": 2878022,
                    "url": "https://api.lexmachina.com/parties/2878022"
                },
                {
                    "name": "Jacqueline E Gaiman",
                    "partyId": 3228449,
                    "url": "https://api.lexmachina.com/parties/3228449"
                },
                {
                    "name": "Gaiman",
                    "partyId": 58870942,
                    "url": "https://api.lexmachina.com/parties/58870942"
                },
                {
                    "name": "Shaoxingaimansha",
                    "partyId": 64536849,
                    "url": "https://api.lexmachina.com/parties/64536849"
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "aa51b92276df54683e55b462bc136b46"
        ],
        "responseIsBinary": false
    },
[...]
