[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "qDK3euKHTCBwmdxepzJFAZBMNkO9",
            "issued_at": 1661882679042,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "13737287-7b3f-4c67-9e44-cbca78c0397b",
            "157",
            "Tue, 30 Aug 2022 18:04:39 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/search-judges?q=brim",
        "body": "",
        "status": 200,
        "response": {
            "federalJudges": [
                {
                    "name": "Clarence Addison Brimmer Jr.",
                    "federalJudgeId": 260,
                    "initials": "CAB",
                    "caseCountByCourt": [
                        {
                            "court": "total",
                            "count": 122
                        }
                    ],
                    "url": "http://lawmachine-beta-mralpoiyfa-uk.a.run.app/federal-judges/260"
                },
                {
                    "name": "Philip A. Brimmer",
                    "federalJudgeId": 3191,
                    "initials": "PAB",
                    "caseCountByCourt": [
                        {
                            "court": "total",
                            "count": 3435
                        }
                    ],
                    "url": "http://lawmachine-beta-mralpoiyfa-uk.a.run.app/federal-judges/3191"
                }
            ],
            "magistrateJudges": []
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "559f64a8ad74710b5a7762db0fa94e94",
            "Tue, 30 Aug 2022 18:04:39 GMT",
            "439",
            "5a595cc0-1c6d-443d-bdab-7c7a43a41411",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]