[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "expires_in": 3600,
            "access_token": "IPWR7hxeqRSh85WbuKH6ivxG799Upat6",
            "token_type": "bearer"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/search-judges?q=brim",
        "body": "",
        "status": 200,
        "response": {
            "federalJudges": [
                {
                    "name": "Clarence Addison Brimmer Jr.",
                    "federalJudgeId": 260,
                    "initials": "CAB",
                    "caseCountByCourt": [
                        {
                            "court": "total",
                            "count": 122
                        }
                    ],
                    "url": "https://api.lexmachina.com/federal-judges/260"
                },
                {
                    "name": "Philip A. Brimmer",
                    "federalJudgeId": 3191,
                    "initials": "PAB",
                    "caseCountByCourt": [
                        {
                            "court": "total",
                            "count": 3590
                        }
                    ],
                    "url": "https://api.lexmachina.com/federal-judges/3191"
                }
            ],
            "magistrateJudges": [],
            "stateJudges": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "3957f4c8c0bcbb4b0e86fa14b1916290"
        ],
        "responseIsBinary": false
    }
]