[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "expires_in": 3600,
            "access_token": "G79Ikc80mbnsjFp3yzBcgR1D0z668Glr"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/search-judges?q=brim",
        "body": "",
        "status": 200,
        "response": {
            "federalJudges": [
                {
                    "name": "Clarence Addison Brimmer Jr.",
                    "federalJudgeId": 260,
                    "initials": "CAB",
                    "caseCountByCourt": [
                        {
                            "court": "total",
                            "count": 122
                        }
                    ],
                    "url": "https://api.lexmachina.com/federal-judges/260"
                },
                {
                    "name": "Philip A. Brimmer",
                    "federalJudgeId": 3191,
                    "initials": "PAB",
                    "caseCountByCourt": [
                        {
                            "court": "total",
                            "count": 3725
                        }
                    ],
                    "url": "https://api.lexmachina.com/federal-judges/3191"
                }
            ],
            "magistrateJudges": [],
            "stateJudges": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "505d8eb3d38345a4852ad359bef8c9ed"
        ],
        "responseIsBinary": false
    }
]