[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "expires_in": 3600,
            "access_token": "wV1wM2lB91skodn9a9Em7wILSsFBfPxl"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/search-attorneys?q=sligh&pageSize=500&pageNumber=1",
        "body": "",
        "status": 200,
        "response": {
            "totalCount": 14,
            "page": 1,
            "nextPage": null,
            "attorneys": [
                {
                    "name": "Crosslight Promotion",
                    "attorneyId": 1216107,
                    "url": "https://api.lexmachina.com/attorneys/1216107"
                },
                {
                    "name": "Joseph R. Slights III",
                    "attorneyId": 9993143,
                    "url": "https://api.lexmachina.com/attorneys/9993143"
                },
                {
                    "name": "Kathryn Harper Sligh",
                    "attorneyId": 14974596,
                    "url": "https://api.lexmachina.com/attorneys/14974596"
                },
                {
[...]
[...]
