[
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "bearer",
            "access_token": "LKIcRHbocp8QZtKrIrZGGfNzXuwYN71F",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.beta.lexmachina.com:443",
        "method": "GET",
        "path": "/search-judges?q=brim",
        "body": "",
        "status": 200,
        "response": {
            "federalJudges": [
                {
                    "name": "Clarence Addison Brimmer Jr.",
                    "federalJudgeId": 260,
                    "initials": "CAB",
                    "caseCountByCourt": [
                        {
                            "court": "total",
                            "count": 122
                        }
                    ],
                    "url": "http://lawmachine-beta-ovxin55ppa-uk.a.run.app/federal-judges/260"
                },
                {
                    "name": "Philip A. Brimmer",
                    "federalJudgeId": 3191,
                    "initials": "PAB",
                    "caseCountByCourt": [
                        {
                            "court": "total",
                            "count": 3564
                        }
                    ],
                    "url": "http://lawmachine-beta-ovxin55ppa-uk.a.run.app/federal-judges/3191"
                }
            ],
            "magistrateJudges": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-Cloud-Trace-Context",
            "f94c087a453c2c296f34585d3ffabc6f;o=1"
        ],
        "responseIsBinary": false
    }
]