[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "nbUz2Pa8rSx8R5jmsLS23dFpCMYa",
            "issued_at": 1663777975530,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "50fe8571-81a5-4d89-8176-9fbe5cb880bf",
            "157",
            "Wed, 21 Sep 2022 16:32:55 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/search-parties?q=gaiman&pageSize=500&pageNumber=1",
        "body": "",
        "status": 200,
        "response": {
            "totalCount": 6,
            "page": 1,
            "nextPage": null,
            "parties": [
                {
                    "name": "Neil Gaiman",
                    "partyId": 216320,
                    "url": "http://lawmachine-beta-mralpoiyfa-uk.a.run.app/parties/216320"
                },
                {
                    "name": "Michael Gaiman",
                    "partyId": 223143,
                    "url": "http://lawmachine-beta-mralpoiyfa-uk.a.run.app/parties/223143"
                },
                {
                    "name": "Jacqueline Gaiman",
                    "partyId": 2878022,
                    "url": "http://lawmachine-beta-mralpoiyfa-uk.a.run.app/parties/2878022"
    [...]
[...]
