[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/search-law-firms?q=slusher&pageSize=500&pageNumber=1",
        "body": "",
        "status": 200,
        "response": {
            "totalCount": 13,
            "page": 1,
            "nextPage": null,
            "lawFirms": [
                {
                    "name": "Skelton Slusher Barnhill Watkins Wells",
                    "lawFirmId": 9133778,
                    "url": "http://lawmachine-beta-mralpoiyfa-uk.a.run.app/law-firms/9133778"
                },
                {
                    "name": "Rodney B Slusher",
                    "lawFirmId": 18620057,
                    "url": "http://lawmachine-beta-mralpoiyfa-uk.a.run.app/law-firms/18620057"
                },
                {
                    "name": "Holder, Susan, Slusher, & Oxenhandler",
                    "lawFirmId": 29024883,
                    "url": "http://lawmachine-beta-mralpoiyf[...]
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/search-law-firms?q=slusher&pageSize=500&pageNumber=2",
        "body": "",
        "status": 200,
        "response": {
            "totalCount": 13,
            "page": 2,
            "nextPage": null,
            "lawFirms": []
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "x-cloud-trace-context",
            "02ba06700f2a7b293ecd0a5dd386dd36",
            "Wed, 21 Sep 2022 16:50:07 GMT",
            "56",
            "b64d7f6d-9c37-467f-b9b7-34c451677cab",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    }
]