[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth/client_credential/accesstoken",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "token_type": "Bearer",
            "access_token": "6kM3GguJEZuhtSNLkVCmdDcnurih",
            "issued_at": 1663779237440,
            "expires_in": 3599,
            "scope": ""
        },
        "rawHeaders": [
            "content-type",
            "application/json",
            "3e228359-7d0e-4bd2-a4e8-537659604187",
            "157",
            "Wed, 21 Sep 2022 16:53:56 GMT",
            "1.1 google",
            "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/beta/search-attorneys?q=sligh&pageSize=500&pageNumber=1",
        "body": "",
        "status": 200,
        "response": {
            "totalCount": 14,
            "page": 1,
            "nextPage": null,
            "attorneys": [
                {
                    "name": "Crosslight Promotion",
                    "attorneyId": 1216107,
                    "url": "http://lawmachine-beta-mralpoiyfa-uk.a.run.app/attorneys/1216107"
                },
                {
                    "name": "Joseph R. Slights III",
                    "attorneyId": 9993143,
                    "url": "http://lawmachine-beta-mralpoiyfa-uk.a.run.app/attorneys/9993143"
                },
                {
                    "name": "Kathryn Harper Sligh",
                    "attorneyId": 14974596,
                    "url": "http://lawmachine-beta-mralpoiyfa-uk.a.run.a[...]
[...]
