[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "Tvc86PKolnZAmx53Ee6jWbPKKagJWrPB",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/search-law-firms?q=slusher&pageSize=500&pageNumber=1",
        "body": "",
        "status": 200,
        "response": {
            "totalCount": 13,
            "page": 1,
            "nextPage": null,
            "lawFirms": [
                {
                    "name": "Skelton Slusher Barnhill Watkins Wells",
                    "lawFirmId": 9133778,
                    "url": "https://api.lexmachina.com/law-firms/9133778"
                },
                {
                    "name": "Rodney B Slusher",
                    "lawFirmId": 18620057,
                    "url": "https://api.lexmachina.com/law-firms/18620057"
                },
                {
                    "name": "Holder, Susan, Slusher, & Oxenhandler",
                    "lawFirmId": 29024883,
                    "url": "https://api.lexmachina.com/law-firms/29024883"
                },
      [...]
[...]
