[
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "POST",
        "path": "/oauth2/token",
        "body": "grant_type=client_credentials",
        "status": 200,
        "response": {
            "access_token": "mXE4PPlQkNghvnEr6n6k1QlHc3sTL4DU",
            "token_type": "bearer",
            "expires_in": 3600
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.lexmachina.com:443",
        "method": "GET",
        "path": "/state-cases/2007659138",
        "body": "",
        "status": 200,
        "response": {
            "stateCaseId": 2007659138,
            "title": "SYNCHRONY BANK VS CLAUDIA ROSAS",
            "state": "California",
            "court": "Los Angeles County Superior Court",
            "caseNo": "22NWLC01489",
            "status": "Terminated",
            "caseType": [
                "Contracts (CA)"
            ],
            "caseTags": [
                "Limited Jurisdiction",
                "Collections (CA)",
                "Trial"
            ],
            "dates": {
                "filed": "2022-01-19",
                "terminated": "2023-01-25",
                "trial": "2023-01-25"
            },
            "resolution": {
                "summary": "Plaintiff Win",
                "specific": "Bench Trial"
            },
            "events": [
                {
                    "type": "Filed",
                    "occurred": "2022-01-19"
                },
                {
                    "type": "Trial",
                    "occurred": "2023-01-25"
                },
                {
                    "type": "Terminated",
                    "occurred": "2023-01-25"
                }
            ],
            "judges": [
                {
                    "name": "Maria Andrea Davalos",
                    "stateJudgeId": 399
                }
            ],
            "rulings": {
                "active": [
                    {
                        "judgmentEvent": "Bench Trial",
                        "awardedToPartyIds": [
                            473505
                        ],
                        "awardedAgainstPartyIds": [
                            54966924
                        ],
                        "awarded": "2023-01-25"
                    }
                ]
            },
            "lawFirms": [
                {
                    "name": "Suttell & Hammer",
                    "lawFirmId": 54335638,
                    "clientPartyIds": [
                        473505
                    ]
                }
            ],
            "attorneys": [
                {
                    "name": "Hootan Atefyekta",
                    "attorneyId": 154939122,
                    "lawFirmIds": [
                        54335638
                    ],
                    "clientsPartyIds": [
                        473505
                    ]
                },
                {
                    "name": "Erin E. Patterson",
                    "attorneyId": 80537178,
                    "lawFirmIds": [
                        54335638
                    ],
                    "clientsPartyIds": [
                        473505
                    ]
                },
                {
                    "name": "Sunny S.J. Lee",
                    "attorneyId": 9452800,
  [...]
